{{ define "main" }}

<header class="relative">
  <h1 class="text-3xl font-ffserif text-darker dark:text-gray-100">{{.Title}}</h1>
  <div class="post">
    {{ .Content }}
  </div>

  <div class="font-ffserif mb-8">
  {{ range sort .Site.Data.liked "date" "desc" }}
  <div class="mt-8 ">
    <span class="text-sm">{{ dateFormat "2006-01-02" .date }}</span>
    <h2 class=" text-xl text-gray-900 dark:text-gray-100 font-normal py-1">
      <a class="underline" href="{{.url}}">
        {{ .title }}
      </a>
    </h2>
    <div class="tracking-tight text-gray-700 dark:text-gray-300 ">
      {{ .description }}
    </div>
  </div>
  {{ end }}
  </div>

{{ end }}
