{{ $.Scratch.Set "color" "accent" }}
{{ with .Params.color }}
  {{ $.Scratch.Set "color" . }}
{{ else }}
  {{range first 1 (shuffle (slice "accent" "sunray" "purpleheart" "forest" "jazzberry" "rose" "teal" "tuscan")) }}
    {{ $.Scratch.Set "color" . }}
  {{ end }}
{{ end }}

<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
  {{ with .OutputFormats.Get "rss" }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ $.Site.Title }}" />
  {{ end -}}
  {{ with .OutputFormats.Get "jsonfeed" }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ $.Site.Title }}" />
  {{ end -}}
  {{ partial "opengraph.html" . }}
  {{ partial "twitter.html" . }}
  {{ partial "seo" . }}
  {{ partialCached "shared_head.html" . }}
</head>

  <body
      class=" content-{{$.Scratch.Get "color" }} font-serif leading-4 antialiased  dark:bg-darker dark:text-white text-darker {{if or .Params.backgroundColor $.Site.Params.backgroundColor }}{{with .Params.background}}bg-{{.}} {{end}} bg-{{$.Scratch.Get "color" }} bg-opacity-10 selection:bg-opacity-20 selection:bg-{{$.Scratch.Get "color"}}{{else}}selection:bg-{{$.Scratch.Get "color"}} selection:bg-opacity-20{{end}}">

    {{ partial "header" . }}
    <div class="lg:container mx-auto  lg:max-w-xl w-full  grid grid-cols-1 gap-16 min-h-1/2">
      <div class="mx-6 lg:mx-0 relative">
        {{ block "main" . }}
        {{ end }}
      </div>
    </div>
    <div class="lg:container mx-auto  w-full  grid grid-cols-1 gap-16 min-h-1/2">
      <div class="mx-6 lg:mx-0 relative">
        {{ block "full" . }}
        {{ end }}
      </div>
    </div>

    {{ partial "footer" . }}
    {{ partial "js" . }}
  </body>
</html>
