{{ define "main" }}
{{ range sort (where .Pages ".Params.favorite" true) "Title" }}
<div class="py-4">
  <div class="tracking-tight text-xs text-gray-700  uppercase">
    {{ .Params.emoji | default (partial "emoji" .) }}
    {{ partial "category-link" . }}
    {{ .Site.Params.arrow }}
    {{ len (where .Pages "Type" "posts") }} articles
  </div>
  <header class="">
    <h2 class="capitalize text-xl font-bold text-darker ">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h2>
  </header>
</div>
{{ end }}
{{ end }}
