{{ define "main" }}

<header class="relative">
  <h1 class="text-lg  font-semibold text-darker dark:text-gray-100 {{ with .Params.Color }}hover:text-{{ . }}-600 {{ else }}hover:text-accent-600{{ end }} transition ease-in-out duration-200"><a href="{{ "/" | relLangURL }}">{{.Title}}</a></h1>
</header>
<div class="post with-links md:max-w-lg">
  {{ .Content }}
</div>

{{ if eq .Section "posts" }}
  {{ with ($.Site.GetPage (printf "/categories")) }}
    <div class="my-6 grid grid-cols-2 md:flex md:flex-row md:justify-between ">
      {{ range $cat :=  sort (where .Pages ".Params.favorite" true) "Title" }}
      <a href="{{$cat.RelPermalink}}" class="cursor-pointer flex flex-col  items-start p-8 relative">
        {{ with $cat.Resources.GetMatch "back.svg" }}
          <div class="z-0 fill {{with $cat.Params.color}} text-{{.}}-200 dark:text-{{.}}-800{{ else}} dark:text-accent-800 text-accent-200{{end}} absolute top-4 left-2 w-2/3 h-2/3">
            {{.Content |safeHTML}}
          </div>
        {{ end}}
        <span class="z-10 hidden">{{ $cat.Params.emoji }}</span>
        <span class="z-10  text-lg my-1 font-semibold underline {{with $cat.Params.color }} td-{{.}} {{else}}td-accent {{end}} whitespace-nowrap">{{ $cat.Title}}</span>
        <span class="z-10 line-clamp-2 text-sm">{{ .Params.description }}</span>
      </a>
      {{ end }}
    </div>
  {{ end }}
{{ end }}

{{ $paginator := (.Paginate .RegularPages 250) }}
<div class="mb-10 {{ with .Params.grid }}grid gap-8 md:grid-cols-3 sm:grid-cols-1{{ else}} md:max-w-lg{{end}}">
  {{ range $paginator.Pages }}
    {{ if $.Params.grid }}
      {{ partial "cover_title" . }}
    {{ else if $.Params.inline }}
      {{ partial "inline" . }}
    {{ else  }}
      {{ partial "title" . }}
    {{ end }}
  {{ end }}
  <div class="">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
