{{ define "main" }}

{{ partial "article_header" . }}
<div class="z-20 prose dark:prose-light mb-16 with-links relative">
  {{ .Content }}
</div>

{{ $paginator := (.Paginate .RegularPages 250) }}
<div class="mb-10 {{ with .Params.grid }}lg:-mx-60 2xl:-mx-96 md:-mx-32 grid gap-4 gap-y-8 md:grid-cols-3 sm:grid-cols-1{{end}}">
  {{ range $paginator.Pages }}
    {{ if $.Params.grid }}
      {{ partial "cover_title" . }}
    {{ else if $.Params.inline }}
      {{ partial "inline" . }}
    {{ else  }}
      {{ partial "title" . }}
    {{ end }}
  {{ end }}
  <div class="">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
