{{ define "main" }}
<article class="h-entry">
  {{ partial "article_content" . }}
  <span class="text-xs mb-8  text-right font-sans  capitalize flex  justify-end gap-1">
    {{ if .Params.camera }}
      <a href="{{ .RelPermalink }}">
        📷 {{ .Params.camera }} {{ with .Params.film }}{{ $.Site.Params.arrow }} {{ . }} {{ end }}
      </a>
      {{ .Site.Params.arrow }}
    {{ end }}
    {{ partial "heart" . }}
    {{ partial "category-link" . }}
    {{ .Site.Params.arrow }}
    <a href="{{ .RelPermalink }}">
      <time class="dt-published" datetime="{{ .Date.Format "2006-01-02t15:04:05z0700" }}">
        {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </time>
    </a>
  </span>
  <!--{{ partial "article_navigation" . }}-->
</article>
{{ end }}
