{{ define "main" }}
<div class="z-20 dark:prose-invert prose mb-16 with-links relative">
  {{ .Content }}
</div>
<div class="flex flex-col">
    {{ range first 4 (where .Site.RegularPages ".Params.favorite" true) }}
      {{ $color := "accent" }}
      {{range first 1 (shuffle (slice "rosewater" "flamingo" "pink" "mauve" "red" "maroon" "peach" "yellow" "green" "teal" "sky" "sapphire" "blue" "sky")) }}
        {{ $color = . }}
      {{ end }}
      {{ with .Params.color }}
        {{ $color = . }}
      {{ end }}
      <article class="group  hover:bg-{{$color}}-400 !bg-opacity-70 rounded-md">
        <a href="{{ .RelPermalink }}"
              class="text-crust dark:text-gray-100 hover:bg-{{$color}}-400 bg-opacity-70 ">
        <header class="bottom-4  flex flex-row justify-between gap-2 items-center p-2">
          <h2 class="text-gray-800 dark:text-gray-100  no-underline block ">{{ .Title }}</h2>
          <div class=" flex-grow "><div class="mt-3 border-t border-dotted border-gray-800 dark:border-gray-100" ></div></div>
          <h3 class="font-sans no-underline font-normal text-xs">
              {{ with .Params.pricetag }}
                {{ . | markdownify }}
              {{ else }}
                {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
              {{ end }}
              </h3>
        </header>
        </a>
      </article>
    {{ end }}
</div>
{{ end }}
