{{ define "main" }}
  <div class="posts">
    {{ $paginator := (.Paginate (.Site.RegularPages) 10) }}
    {{ range $paginator.Pages }}
      {{ if eq .Type "posts"}}
        {{ partialCached "post.html" . .Params.slug .Lang }}
      {{ else if eq .Type "microposts" }}
        {{ partial "micropost" . }}
      {{ end }}
    {{ end }}
  </div>
  <div class=" page-load-status flex justify-center">
    <div class="dot-flashing"></div>
  </div>

  {{ template "_internal/pagination.html" . }}
{{ end }}
