baseURL = "https://vadrouilles.co/"
languageCode = "fr"
DefaultContentLanguage = "fr"
title = "Vadrouilles"
theme = "less"
googleAnalytics = "UA-114349967-1"
disqusShortname = "vadrouilles-co"
RemovePathAccents = true
timeout = 200000
enableRobotsTXT = true
canonifyURLs = true

[related]
  includeNewer = true

[[related.indices]]
  name = "categories"
  weight =  1 # We don't really need this, but omitting it would disable the indice.

[author]
  name = "Yannick Schutz"

[permalinks]
  posts = "/:slug"
  categories = "/:slug"
  microposts = "/inspiration/:year-:month-:day"

[imaging]
  resampleFilter = "lanczos"

[params]
  mapbox = "pk.eyJ1IjoieWFubmljay1pbyIsImEiOiJjamY1NmR3NjMwNHkwMnBscDc2Nzl6b2ZwIn0.NbV8ywwFWfOH4T8DAN_tKw"
  sizes = [ "2048" , "1024" , "512" ]
  tags = ["famille", "exode rurale", "bretagne", "slow travel", "voyage", "slow life", "neorural", "photography", "photographies"]
  titleFont = "Source Sans Pro"
  bodyFont = "Poly"
  pinterestVerify = "fd6b8a37d3208b2c605434cf2ce71ac3"
  hasLogo = true
#   heroHeader = true

[taxonomies]
  category = "categories"

[params.titles]

  posts = "Journal de bord"
  categories = "Catégories"

[params.social]
  email = "petites@vadrouilles.co"
  domain = "Vadrouilles.co"
  instagram = "vadrouilles.co"
  twitter = "yann_ck"

[[menu.main]]
  name = "Vadrouilles"
  title = "Vadrouilles"
  weight = 1
  identifier = "vadrouilles"
  url = "/vadrouilles/"
[[menu.main]]
  name = "Journal de Bord"
  title = "Journal de Bord"
  weight = 2
  identifier = "journal"
  url = "/journal/"
[[menu.main]]
  name = "Inspiration"
  title = "Inspiration"
  weight = 3
  identifier = "inspiration"
  url = "/inspiration/"
[[menu.main]]
  name = "A propos"
  title = "About me"
  weight = 4
  identifier = "about"
  url = "/about"

[languages]
  [languages.en]
    weight = 2
    languageName = "English"
  [languages.fr]
    weight = 1
    languageName = "Français"
