{{ define "main" }}
{{ partial "article_header" . }}
<div class="mb-10 content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
  <div data-pswp class="prose">
    {{ $allimages := slice }}
    {{ $journal := .Site.GetPage "/journal/images" }}
    {{ range .Params.images}}
      {{ $allimages = $allimages | append (dict "Image" ($journal.Resources.GetMatch .url)) }}
    {{ end }}
    {{ $rows := dict }}
    {{ $columns := dict }}
    {{ $rowid := 0 }}
    {{ $colid := 0 }}
    {{ $possibilities := slice 1 1  2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 4 4 4 4 4 4 4 }}
    {{ $itemsonrow := index (shuffle $possibilities) 0 }}
    {{ range $index, $img := $allimages }}
      {{ $columns = merge $columns (dict (string (mod $index $itemsonrow)) (dict "Images" (slice $img)))}}
      {{ $colid = add $colid 1 }}
      {{ if eq $colid $itemsonrow }}
        {{ $rows = merge $rows (dict (string $rowid) $columns) }}
        {{ $itemsonrow = index (shuffle $possibilities) 0 }}
        {{ $columns = dict }}
        {{ $rowid = add $rowid 1 }}
        {{ $colid = 0 }}
      {{ end }}
    {{ end }}
    {{ $rows = merge $rows (dict (string $rowid) $columns) }}
    {{ partial "grid" $rows }}

    {{ .Content }}
  </div>
</div>
{{ end }}
