{{ define "main" }}
{{ $paginator := (.Paginate .RegularPages 25) }}

<header>
    <h1 class="font-body text-3xl text-darker dark:text-gray-100">{{.Title}}</h1>
<div class="post">
{{ .Content }}
</div>

{{ range $paginator.Pages }}
<div class="py-4">
  <div class="font-sans tracking-tight text-xs text-gray-700 dark:text-gray-300 uppercase">
    {{ .Params.emoji }}
    {{ range first 1 .Params.categories }}
    <a href="/{{ . }}">{{ . }}</a>
    {{ end }}
    {{ .Site.Params.arrow }}
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </div>
  <header class="font-body">
    <h2 class="text-3xl text-darker dark:text-gray-100">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h2>
    {{ with .Params.subtitle }}
    <h3 class="italic text-normal text-gray-800 dark:text-gray-300">{{ . }}</h3>
    {{ end }}
  </header>
  </div>

{{ end }}
<div class="font-sans">
  {{ partial "pagination.html" . }}
</div>
{{ end }}
