{{ define "main" }}
<header class=" mb-6 ">
  <h1 class="text-xl  font-medium text-{{ with .Params.color }}{{ . }}-600{{ else }}gray-700{{ end }} dark:text-{{ with .Params.color }}{{ . }}-500{{ else }}gray-100{{ end }}">
    <a href="{{ .RelPermalink }}">
      {{ with .Title }}
        {{ . }}
      {{ else }}
        {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
      {{ end }}
    </a>
  </h1>
  <h2 class="text-gray-600 dark:text-gray-400">
  {{ with .Params.subtitle }}
    {{ . }}
  {{ else }}
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  {{ end }}
  </h2>
</header>
<div class="mb-10 content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
  {{ if .IsTranslated }} {{ range .Translations }}
  <div class="font-mono text-sm italic font-light ">
    <a href="{{ .RelPermalink }}">{{ T "also_available" }} {{ .Language.LanguageName }}</a>
  </div>
  {{ end }} {{ end }}
  <div class="post">
    {{.Content}}
  </div>
  <span class="text-sm font-mono dark:text-gray-500 text-gray-700 capitalize text-right block">
    {{ .Params.emoji}} {{ range first 1 .Params.categories }}
    <a href="/{{ . }}">{{ . }}</a>
    {{ end }}
    {{ .Site.Params.arrow }} {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </span>
</div>
{{ end }}
