{{ define "main" }}
<header class="mb-6 font-sans">
  <h1 class="font-semibold text-gray-800">{{ .Title }}</h1>
  <h3 class="text-gray-600">{{ .Params.subtitle }}</h3>
  {{ if .IsTranslated }} {{ range .Translations }}
  <div class="pt-6 font-sans text-sm font-light ">
    <a class="link" href="{{ .Permalink }}">{{ T "also_available" }} {{ .Language.LanguageName }}</a>
  </div>
  {{ end }} {{ end }}
</header>
<div class="post text-gray-700">
  {{.Content}}
</div>
<span class="text-sm text-gray-500 capitalize text-right block">
  {{ .Params.emoji}} {{ range first 1 .Params.categories }}
  <a href="/{{ . }}">{{ . }}</a>
  {{ end }} {{ .Site.Params.arrow }} {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
</span>

{{ partial "three.html" (.Site.RegularPages.Related . ) }} {{ end }}
