{{ define "main" }}
<div>
  <span>
    {{ .Params.emoji}}
    {{ range first 1 .Params.categories }}
    <a href="/{{ . }}">{{ . }}</a>
    {{ end }} {{ .Site.Params.arrow }}
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </span>
  <h1>{{ .Title }}</h1>
  <h3>{{ .Params.subtitle }}</h3>
</div>
<div>
  {{ if .IsTranslated }}
    {{ range .Translations }}
    <p>
      <a href="{{ .Permalink }}">{{ T "also_available" }} {{ .Language.LanguageName }}</a>
    </p>
    {{ end }}
  {{ end }}
  {{.Content}}
</div>
{{ partial "three.html" (.Site.RegularPages.Related . ) }}
{{ end }}
