@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  body>header, .main {
    width: 100%;
  }
}
@media only screen
and (min-width : 667px) {
  body>header, .main {
    width: 600px;
    margin-left: 30px;
  }
}
.emoji {
  font-family: arial;
}

figure {
  margin-left: 0;
  margin-bottom: 30px;
}

figure p {
  margin-top: 10px;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  line-height: 1.25;
}

.main img {
  width: 100%;
}

h1 {
  font-weight: 200;
}

b {
  font-weight: 400;
}
.notes small {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  margin-bottom: 3px;
  border-bottom: 1px dotted;
  text-decoration: none;
}

header a {
  border-bottom: 0;
}

a:visited, a {
  color: #666;
}

.main-carousel {
  height: 400px !important;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}
.flickity-viewport {
  height: 400px !important;
}
.carousel-cell {
  height: 400px !important;
}
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #666;
}
.flickity-prev-next-button.no-svg {
  color: #666;
}
/* position outside */
.flickity-prev-next-button.previous {
  display: block;
  position: absolute;
  bottom: -60px;
  right: 20px;
  top: inherit;
  left: inherit;
}
.flickity-prev-next-button.next {
  display: block;
  position: absolute;
  bottom: -60px;
  right: 0;
  top: inherit;
  left: inherit;
}
.flickity-slider {
  transform: none !important;
}

.carousel-cell {
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0
}
