@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  body>header, .main {
    width: 100%;
  }
}
@media only screen
and (min-width : 667px) {
  .main { 
    width: 100%;
    margin: 0;
  }
  
  .main .fullwidth, .mainwander .fullwidth img {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .main > * {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  
  .main > :not(.fullwidth) {
    max-width: 58rem;

    margin-left: auto;
    margin-right: auto;
  }
}
.emoji {
  font-family: arial;
}

figure {
  margin-left: 0;
  margin-bottom: 30px;
}

figure p {
  margin-top: 10px;
  margin-bottom: 0;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-weight: 100;
  line-height: 1.25;
}

.main img {
  width: 100%;
}

h1 {
  font-weight: 200;
}

b {
  font-weight: 400;
}
.notes small {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  margin-bottom: 3px;
  border-bottom: 1px dotted;
  text-decoration: none;
}

header {
  padding-top: 30px;
}
header a {
  border-bottom: 0;
}

header h1 {

  margin-top: 0;
}

a:visited, a {
  color: #666;
}

.main-carousel {
  height: calc(100vh - 180px) !important;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}
.flickity-viewport {
  height: 100% !important;
}
.carousel-cell {
  height: 100% !important;
}
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #666;
}
.flickity-prev-next-button.no-svg {
  color: #666;
}
/* position outside */
.flickity-prev-next-button.previous {
  display: block;
  position: absolute;
  bottom: -60px;
  right: 20px;
  top: inherit;
  left: inherit;
}
.flickity-prev-next-button.next {
  display: block;
  position: absolute;
  bottom: -60px;
  right: 0;
  top: inherit;
  left: inherit;
}
.flickity-slider {
  transform: none !important;
}

.carousel-cell {
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0
}

.photoset {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.photoset.max-2 {
  grid-template-columns: repeat(2, 1fr);
}

.photoset figure {
  margin: 0;
}




