/* Global */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', serif;
  text-rendering: optimizeLegibility;
  font-size: 1.2rem;
  line-height: 1.52;
}

h1, h2, h3, h4 {
  font-weight: 300;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

footer {
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
  color: #aaa;
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  line-height: 50px;
  clear:both;
}

footer a, footer a:visited {
  padding-bottom: 2px;
  color: #aaa;
  background-image: linear-gradient(to top, transparent, transparent 2px, #aaa 2px, #aaa 2.5px, transparent 2.5px);
}

h1 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #333;
  position: relative;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, #333 2px, #333 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
}

a:visited, a:hover {
  color: #666;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, #666 2px, #666 2.5px, transparent 2.5px);
}


figure {
  margin-top: 1rem !important;
  margin: 0;
}

figure p {
  margin-top: 10px;
  margin-bottom: 0;
}

b {
  font-weight: 400;
}

/* Helpers */

.center {
  text-align: center;
}

.emoji {
  font-family: arial;
}

.small {
  font-size: 0.8rem;
}

/* Main wrapper */
.wrapper {
  min-height: 100%;
  height: auto;
}

.main {
  padding-bottom: 50px;
}

.main_menu {
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
  color: #aaa;
}

.main_menu a, .main_menu a:visited {
  padding-bottom: 2px;
  color: #aaa;
  background-image: linear-gradient(to top, transparent, transparent 2px, #aaa 2px, #aaa 2.5px, transparent 2.5px) !important;
}

/* Grid */

.photoset.always-2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

/* Special for mobiles */
@media only screen and (max-width: 667px) {
  body>header, .main {
    width: 100%;
  }

  .photoset {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .wander header {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .wander p {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .wander-link {
    margin-bottom: 40px;
  }

  .wander-tile header {
    position: absolute !important;
    opacity: 1 !important;
    visibility: visible !important;
    bottom: -110px;
  }

  .wander-tile .title {
    text-transform: none !important;
    font-weight: 200;
  }
}

/* Special for normal screens*/
@media only screen and (min-width: 667px) {
  .main {
    width: 100%;
    margin: 0;
  }
  .main .fullwidth, .main.wander .fullwidth img {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .main:not(.wander) {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .main.wander> :not(.fullwidth) {
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
  }
  .main.wander p:not(.fullwidth) {
    max-width: 45rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .photoset {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .photoset.max-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .photoset.always-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .wander-tile:before {
    transition: visibility 0.5s, opacity 0.5s linear;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .wander-tile:hover:before, .wander-tile:active:before {
    visibility: visible;
    opacity: 1;
  }
}

/* Menu */
.nav-item.active {
}

/* Notes tile */

.note-tile {
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  color: #aaa;
}

.note-tile .title {
 font-size: 1rem;
 padding-bottom: 2px;
}

/* TILES wander */
.wander-link {
  height: 0;
  position: relative;
  padding-bottom: 66.6%;
}

.wander-tile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.wander-tile:hover header, .wander-tile:active header {
  visibility: visible;
  opacity: 1;
}

.wander-tile header {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
  z-index: 1;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0;
}



/* MAIN HEADER */

.main_header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.main_header h1 {
  margin-top: 0;
}

.main_header a {
  border: 0;
  color: #333;
  background-image: none;
  font-weight: 200;
}

/* INDEX LIST */

.wanders {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 1.3rem;
  grid-gap: 1.3rem 1.3rem;
}

.wanders a {
  text-decoration: none;
  border-bottom: 0;
}

.wander-tile {
  background-size: cover;
  background-position: center;
}

.wander-tile .title {
  color: #111;
}

.wander-tile header {
  text-shadow: none;
}

/* MAIN LAYOUT */

.main img {
  width: 100%;
}

.main header {
  text-align: center;
}

.main header h1, .wanders .title {
  text-transform: uppercase;
}

.main header h1 {
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.main header h4 {
  margin-top: 0;
  font-size: 1.1rem;
}

.main header {
  margin-bottom: 3rem;
}

/* This is the carousel */

.main-carousel {
  height: calc(100vh - 180px) !important;
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}

.flickity-viewport {
  height: 100% !important;
}

.carousel-cell {
  height: 100% !important;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  background: transparent;
}

.flickity-prev-next-button:hover {
  background: transparent;
}

/* arrow color */

.flickity-prev-next-button .arrow {
  fill: #666;
}

.flickity-prev-next-button.no-svg {
  color: #666;
}

/* position outside */
.gallery {
  position: relative;
}
.gallery .gear {
  position: absolute;
  bottom: -40px;
  right: 50px;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: right;
  color: #aaa;
}

.flickity-prev-next-button.previous {
  display: block;
  position: absolute;
}

.flickity-prev-next-button.next {
  display: block;
  position: absolute;
}

.flickity-slider {
  transform: none !important;
}

.carousel-cell {
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 400px;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0
}

/* This is about maps */

#map {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

#map canvas {
  top: 0;
  left: 0;
}

.geojson a {
  display: block;
  background-image: none;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 1.5rem;
}

.mapboxgl-ctrl {
  display: none;
}

.geojson .info {
  margin-top: 1rem;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
  color: #aaa;
}
.geojson .info a {
  padding-bottom: 2px;
  background-image: linear-gradient(to top, transparent, transparent 2px, #aaa 2px, #aaa 2.5px, transparent 2.5px);
  color: #aaa;
}
