@media (max-width: 640px) {
  body>header, .main {
    width: 100%;
  }
}
@media (min-width: 641px) {
  body>header, .main {
    width: 600px;
    margin: 0 auto;
  }
}

body {
  margin: 0;
  font-family: "Cousine", monospace;
  font-weight: 100;
  line-height: 1.25;
}

.main {
  width: 600px;
  margin: 0 auto;
}

.main img {
  width: 100%;
}

h1 {
  font-weight: normal;
}

.notes small {
  margin-left: 20px;
}

.notes a, .home {
  text-decoration: none;
}

li {
  margin-bottom: 10px;
}
