
{{ $color := "accent" }}
{{range first 1 (shuffle $.Site.Params.themeColors) }}
  {{ $color = . }}
{{ end }}
<article class="group pb-4">
  <a href="{{.RelPermalink}}"
        class="text-crust dark:text-gray-100 hover:dark:text-gray-100 hover:text-crust/70">
  <header class="bottom-4 font-bold flex flex-row justify-between place-items-center gap-2 py-2">
    <h2 class="ellipsis break-all  line-clamp-1 text-gray-800 dark:text-gray-100  no-underline ">{{ .Title }} </h2>
  </header>
  </a>
  <div class="prose-blockquote:border-l-slate-500 prose-blockquote:border-l prose-sm text-sm {{ if not .Content }}text-gray-500{{end}}">
  {{ .Content | default (.Params.description |truncate 100) }}
  </div>
  <footer class="py-2 font-sans text-xs dark:text-gray-300 text-gray-600">
    <span class="text-{{ index $.Site.Params.categoriesColors .Params.category}}">{{$.Site.Params.categorySymbol}}</span> <a href="{{ .Params.bookmarkOf }}">
    <span class=" font-sans no-underline font-normal text-xs ">{{.Params.domain }}</span>
  </a>
  </footer>
</article>
