{{ define "main" }}
<div class="z-20 dark:prose-invert prose prose-sm mb-16 with-links relative">
  {{ .Content }}
</div>
<div>
    {{ $paginator := (.Paginate (where (where .Sites.First.RegularPages ".Params.archived" "!=" true) "Type" "bookmarks") 2500) }}
    {{ range $paginator.Pages.GroupByDate "Jan 2006" }}
      <header class="flex gap-2 my-4 items-center">
        <span>{{ partial "moon" .}} </span>
        <h2 class=" font-bold">{{ .Key }}</h2>
      </header>
    {{ range .Pages }}
      {{ $color := "accent" }}
      {{range first 1 (shuffle (slice "accent" "sunray" "purpleheart" "forest" "jazzberry" "rose" "teal" "tuscan")) }}
        {{ $color = . }}
      {{ end }}
      <article class="group  hover:bg-{{$color}} !bg-opacity-70 rounded-md">
        <a href="{{ .Params.bookmarkOf }}"
              class="text-darker dark:text-gray-100 hover:bg-{{$color}} bg-opacity-70 ">
        <header class="bottom-4  flex flex-row justify-between place-items-center gap-2 p-2">
          <h2 class="ellipsis break-all max-w-[60%] line-clamp-1 text-gray-800 text-sm dark:text-gray-100  no-underline ">{{ .Title }}</h2>
          <div class=" flex-grow "><div class=" mt-2 border-t border-dotted border-gray-800 dark:border-gray-100" ></div></div>
          <h3 class="max-w-[30%] ellipsis break-all line-clamp-1 font-sans no-underline font-normal text-xs ">{{.Params.domain }}</h3>
        </header>
        </a>
      </article>
  {{ end }}
  {{ end }}
  <div class="">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
