{{ define "main" }}
  <article class="mt-16 bookmark">
    {{ partial "article_header" . }}
    {{ $headless := .Site.GetPage "/bookmarks/images" }}
    {{ $src := $headless.Resources.GetMatch (printf "*%s*" (.Params.uuid)) }}
    {{ with $src }}
      {{ $smol := .Fill "1200x600 webp" }}
      <img class="w-full rounded-sm shadow-lg" src="{{ $smol.RelPermalink }}"/>
    {{ end }}
    {{- $url := urls.Parse .Params.bookmarkOf -}}
  <a href="{{ .Params.bookmarkOf }}" class="mt-32 text-sm font-sans">{{ $url.Host }} </a>
    <div class="content">
      {{ .Content }}
    </div>
  </article>
{{ end }}

