{{ if .Resources.GetMatch "gallery" }}
  <div class="gallery">
    <div class="main-carousel" data-flickity='{ "resize": true, "setGallerySize": true, "wrapAround": true, "draggable": false,"bgLazyLoad": true, "cellAlign": "center", "pageDots": false }'>
      {{ range .Resources.Match "gallery" }}
      <div class="carousel-cell" data-flickity-bg-lazyload="{{ .Permalink }}" ></div>
      {{ end }}
    </div>
    <div class="gallery-nav">
    {{if .Params.gear }}
      <p class="gear">{{ delimit .Params.gear " • " }}</p>
    {{ end }}
    </div>
  </div>
{{ end }}
