<head>
  <title>{{ .Params.country }} {{ .Title }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="/css/application.css">
  <link rel="icon" href="{{ "/favicon.ico" | absURL }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
  {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
  {{ end -}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
</head>
