<head>
  <title>{{ .Params.emoji }} {{ .Title }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  {{ $style := resources.Get "css/application.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="icon" href="{{ "/favicon.ico" | absURL }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
  {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
  {{ end -}}
  {{ partial "opengraph.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "seo_schema" . }}
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
   <!-- the iolazy load library -->
   {{ $jsFiles := resources.Match "js/*.js" }}
   {{ $js := $jsFiles | resources.Concat "js/bundle.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink}}" defer></script>
</head>
