<div class="main">
  <div class="list journal">
    {{ range first 4 (where .Pages "Type" "posts") }}
    <div class="post-tile">
      {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
      {{if $image }}
        {{ $resized := $image.Fill "450x300" }}
        {{ $mini := $image.Fill "45x30" }}
        <a class="no-decoration" href="{{ .Permalink }}">
          <img class="lazyload"
               src="{{ $mini.Permalink }}"
               data-src="{{ $resized.Permalink }}"
               alt="{{ .Title }}" />
        </a>
      {{end}}
    </div>
    <div class="post-header">
      <header>
        <h4>
            {{ .Params.emoji }}
            <a class="title bold no-decoration" href="{{ .Permalink }}">{{ .Title }}</a><br/>
        </h4>
        <h5>{{ .Params.subtitle }}</h5>
        <p>
          {{ with .Description }}{{ . }} {{else}}{{ .Summary | replaceRE "(?ms)(<(figure|blockquote).*</(figure|blockquote)>)" "" | safeHTML | truncate 200 }}{{ end }}
        </p>
      </header>
    </div>
    {{ end }}
  </div>
</div>
