{{ $postScratch := newScratch }}
<div class="post-tile">
  {{ $image := .post.Resources.GetMatch "cover" | default (index (.post.Resources.ByType "image") 0) }}
  {{ if (eq .index 0) }}
    {{ $size := "900x600" }}
    {{ $postScratch.Set "coverSize" (printf "%s center" $size)}}
  {{ else }}
    {{ $size := "600x400" }}
    {{ $postScratch.Set "coverSize" (printf "%s center" $size)}}
  {{ end }}
  {{ $web := $image.Fill ($postScratch.Get "coverSize") }}
  {{ $mobile := $image.Fill "600x400 center" }}
  {{ $mini := $image.Fill "60x40" }}
  {{if $image }}
    <div class="post-thumb">
      <a class="no-decoration" href="{{ .post.Permalink }}">
        <picture>
          <source class="lazyload" srcset="{{ $mini.Permalink }}" type="image/jpg" media="(min-width: 821px)" data-srcset="{{ $web.Permalink }}">
          <source class="lazyload" srcset="{{ $mini.Permalink }}" type="image/jpg" media="(max-width: 821px)" data-srcset="{{ $mobile.Permalink }}">
          <img src="{{ $web.Permalink }}" style="width: 100%;">
        </picture>
      </a>
    </div>
  {{end}}
  <div class="post-header">
      <span class="category">
        {{ range first 1 .post.Params.categories }}
        <a class="no-decoration" href="/{{ . }}">{{ . }}</a>
        {{ end }} ↠
        {{ .post.Date.Day }} {{ index .ctx.Site.Data.mois (printf "%d" .post.Date.Month) }} {{ .post.Date.Year }}
      </span>
    <h3 class="title">
        {{ .post.Params.emoji }}
        <a class="title bold no-decoration" href="{{ .post.Permalink }}">{{ .post.Title }}</a><br/>
    </h3>
    <p>
      {{ .post.Summary | replaceRE "(?ms)(<(figure|blockquote).*</(figure|blockquote)>)" "" | safeHTML | truncate 200 }}
    </p>
  </div>
</div>
