<div class="related-wrapper">
  <div class="related">
  {{ range first 4 . }}
  <div class="tile">
    {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
    {{if $image }}
      {{ $resized := $image.Fill "400x500 center" }}
      {{ $mini := $image.Fill "40x50 center" }}
      <a class="no-decoration" href="{{ .Permalink }}">
        <img class="lazyload"
              src="{{ $mini.Permalink }}"
              data-src="{{ $resized.Permalink }}"
              alt="{{ .Title }}" />
      </a>
    {{end}}
    <h3 class="t12">
      <a class="title bold no-decoration" href="{{ .Permalink }}">
        {{ .Params.emoji }} {{ .Title }}
      </a>
    </h3>
    <h4>{{ .Params.subtitle }}</h4>
  </div>
  {{ end }}
</div>
</div>
