<div class="three">
  {{ range first 3 . }}
  <div class="tile">
    {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
    {{if $image }}
      {{ $resized := $image.Fill "500x300" }}
      {{ $mini := $image.Fill "50x30" }}
      <a class="no-decoration" href="{{ .Permalink }}">
        <img class="lazyload"
              src="{{ $mini.Permalink }}"
              data-src="{{ $resized.Permalink }}"
              alt="{{ .Title }}" />
      </a>
    {{end}}
    <h4 class="t12">
        {{ .Params.emoji }}
        <a class="title bold no-decoration" href="{{ .Permalink }}">{{ .Title }}</a><br/>
    </h4>
  </div>
  {{ end }}
</div>
