<div class="wanders">
  {{ range where (where .Site.RegularPages "Type" "wanders") ".Params.hidden" "!=" "true" }}
  <a href="{{ .Permalink }}">
    {{ $image := .Resources.GetMatch "main_picture" }}
    {{ $resized := $image.Resize "x500" }}
    <div class="wander-tile" style="background-image: url({{ $resized.Permalink }})">
        <header>
          <span class="emoji">{{ .Params.country}}</span>
          <span class="title">{{ .Title }}</span>
        </header>
    </div>
  </a>
  {{ end }}
</div>
