<div class="list wanders">
  {{ range where (where .Site.RegularPages "Type" "wanders") ".Params.hidden" "!=" "true" }}
  <a href="{{ .Permalink }}">
    {{ $image := .Resources.GetMatch "main_picture" }}
    {{ $resized := $image.Resize "x500" }}
    <div class="wander-tile" style="background-image: url({{ $resized.Permalink }})">
        <header>
          <h3>
            <span class="emoji">{{ .Params.emoji }}</span>
            <span class="title">{{ .Title }}</span>
          </h3>
        </header>
    </div>
  </a>
  {{ end }}
</div>
