{{ $allimages := slice }}
{{ range sort ($.Page.Resources.Match (printf "%s*" (.Get "pattern"))) "Name" "asc"}}
  {{ if (and (ne .Name "cover") (ne .Name "card")) }}
    {{ $allimages = $allimages | append (dict "Image" .  ) }}
  {{ end }}
{{ end }}
{{ $rows := dict }}
{{ $columns := dict }}
{{ $rowid := 0 }}
{{ $colid := 0 }}
{{ $possibilities := slice  3 }}
{{ $itemsonrow := index (shuffle $possibilities) 0 }}
{{ range $index, $img := $allimages }}
  {{ $columns = merge $columns (dict (string (mod $index $itemsonrow)) (dict "Images" (slice $img)))}}
  {{ $colid = add $colid 1 }}
  {{ if eq $colid $itemsonrow }}
    {{ $rows = merge $rows (dict (string $rowid) $columns) }}
    {{ $itemsonrow = index (shuffle $possibilities) 0 }}
    {{ $columns = dict }}
    {{ $rowid = add $rowid 1 }}
    {{ $colid = 0 }}
  {{ end }}
{{ end }}
{{ $rows = merge $rows (dict (string $rowid) $columns) }}
<div
  data-pswp
  class="relative  my-8 box-border px-2 sm:px-4 -mx-4"
>
  {{ partial "grid" $rows }}
</div>
