{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}

{{ if $src }}
  {{ $s := newScratch }}
  {{ partial "responsive-img-data" (dict "src" $src "wide" (.Get "wide") "scratch" $s) }}
  <figure class="{{ if .Parent }}{{ else }} my6 lg:mx16 {{ end }}{{ if .Get "wide" }}lg:mr64 {{ end }}">
    <picture
      class="block relative {{ if .Get "noshadow" }}{{ else }}shadowlg{{ end }} {{ if (and (gt $src.Height $src.Width) (not .Parent)) }}mxauto w2/3{{ end }} img"
      {{ if .Get "nolqip" }}
      {{ else }}
        style="background: url(data:image/webp;base64,{{ ($s.Get "lqip").Content | base64Encode }}); backgroundsize: cover"
      {{ end }}
    >
      {{- /* Generate better alt text: use explicit alt, then caption, then generate from context */ -}}
      {{- $altText := "" -}}
      {{- if .Get "alt" -}}
        {{ $altText = .Get "alt" }}
      {{- else if .Get "caption" -}}
        {{ $altText = .Get "caption" | plainify }}
      {{- else -}}
        {{- $filename := .Get "src" | path.Base | replaceRE "\\.[^.]+$" "" | humanize | title -}}
        {{- if $.Page.Title -}}
          {{ $altText = printf "%s - %s" $.Page.Title $filename }}
        {{- else -}}
          {{ $altText = $filename }}
        {{- end -}}
      {{- end -}}
      {{ if $s.Get "has_avif" }}
        <source type="image/avif" srcset="{{ $s.Get "srcset_avif" }}" sizes="(min-width: 48rem) {{ if .Get "wide" }}1200px{{ else }}800px{{ end }}, 100vw">
      {{ end }}
      <img
        loading="lazy"
        alt="{{ $altText }}"
        class="cursorpointer m0 hauto wfull lazyload"
        {{ if not (.Get "nozoom") }}
          dataaction="zoom"
        {{ end }}
        {{ if not ($s.Get "is_gif") }}
          srcset="{{ $s.Get "srcset_webp" }}"
          sizes="(min-width: 48rem) {{ if .Get "wide" }}1200px{{ else }}800px{{ end }}, 100vw"
        {{ end }}
        datazoomsrc="{{ ($s.Get "zoom").RelPermalink }}"
        src="{{ ($s.Get "default").RelPermalink }}"
        width="{{ $s.Get "width" }}"
        height="{{ $s.Get "height" }}"
      >
    </picture>
    {{ with .Get "caption" }}
      <figcaption class="textcenter mt18 textsm textgray500">
        {{ . }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
