<div class="px-4 mx:px-0 py-12 text-gray-700 dark:text-gray-200 text-base">
  <div class="container md:max-w-lg">
    <form class="flex flex-col items-center"
          action="https://buttondown.email/api/emails/embed-subscribe/{{ .Get "account" }}" method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/{{ .Get "account" }}', 'popupwindow')"
      class="embeddable-buttondown-form">
      <label for="bd-email">
        {{ .Get "msg" }}
      </label>
      <div
          class="mt-4 border-2 w-full flex flex-row justify-between rounded-sm  bg-white {{ with .Get "accent"}}border-{{.}}-500 hover:border-{{.}}-600{{else}}border-accent-500 hover:border-accent-600{{end}} tranistion duration-500 ease-in-out">
        <input
          class=" m-0 pl-2 rounded-none appearance-none  w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="email" name="email" id="bd-email" />
        <input type="hidden" value="1" name="embed" />
        <input
            class="{{ with .Get "accent"}}bg-{{.}}-500 hover:bg-{{.}}-600{{else}}bg-accent-500 hover:bg-accent-600{{ end}} rounded-none transition duration-500 ease-in-out text-white font-bold py-2 m-0 -ml-4 md:ml-0 appearance-none px-4 focus:outline-none focus:shadow-outline cursor-pointer"
          type="submit" value="{{ T "subscribe" }}" />
      </div>
    </form>
  </div>
</div>
