<div class=" py-6 text-gray-700  text-base">
  <div class="container lg:max-w-xl">
    <form class="flex flex-col items-start" target="popupwindow" action="https://bonjour.yannickschutz.com/subscription/form" method="post">
      <label class="bd-email my-6 text-xl decoration-solid {{ with .Get "accent"}}decoration-{{.}}{{else}}decoration-accent{{end}}">
        {{ .Get "msg" }}
      </label>
      <div
          class="border-0 w-full flex flex-row justify-between gap-8    {{ with .Get "accent"}}border-{{.}} hover:border-{{.}}{{else}}border-accent hover:border-accent{{end}} tranistion duration ease-in-out">
        <input
            class="bg-transparent focus:shadow-none focus:ring-0 focus:outline-none focus:ring-offset-0 border-0 border-b-2 {{ with .Get "accent"}}caret-{{.}}  focus:border-{{.}} border-{{.}} hover:border-{{.}}{{else}}focus:border-accent border-accent hover:border-accent{{end}}form-input pl-2 rounded-none appearance-none  w-full py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="email" name="email" id="bd-email" placeholder="💌 ton@email.com"/>
        <input type="hidden" name="l" checked value="{{ .Get "account" }}" />
        <input
            class="font-sans shadow-md hover:shadow-lg rounded-sm {{ with .Get "accent"}}border-{{.}} border-solid bg-{{.}} {{else}} bg-accent{{ end}}  text-white hover:shadow-xl transition duration ease-in-out font-bold py-2 appearance-none px-4 outline-none focus:shadow-outline cursor-pointer"
          type="submit" value="{{ T "subscribe" }}" />
      </div>
    </form>
  </div>
</div>
