{{ $original := $.Page.Resources.GetMatch (.Get "src") }}
{{ if $original }}
  {{ $mini := $original.Resize "40x Box" }}
  <figure>
    <picture class="block shadow-lg {{ if .Parent }}{{ else }}my-6 {{ if eq (.Get "class") "vertical" }}mx-auto w-2/3{{ else }}md:-mx-10{{ end }}{{ end }}" {{ with .Get "alt" }}alt="{{ . }}"{{ end }}>
      <source class="lazyload"
              srcset="{{ $mini.RelPermalink }}"
              type="image/jpg"
              data-srcset="{{ $original.RelPermalink }}"
              data-src="{{ $original.RelPermalink }}">
      <img data-action="zoom"
          width="{{ $original.Width }}"
          height="{{ $original.Height }}"
          src="{{ $mini.RelPermalink }}"
          data-zoom-src="{{ $original.RelPermalink}}"
          data-src="{{ $original.RelPermalink }}"
          class="w-full lazyload">
    </picture>
    {{ with .Get "caption" }}
      <figcaption class="text-xs dark:text-gray-300 text-gray-500 text-center">
        {{ . }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
