{{/* get file that matches the filename as specified as src="" in shortcode */}}

{{ $mp4 := .Page.Resources.GetMatch (printf "*%s.mp4" (.Get "src")) }}
{{ $webm := .Page.Resources.GetMatch (printf "*%s.webm" (.Get "src")) }}
{{ if (or $mp4 $webm) }}
<figure class=" {{ if not .Parent }} my-6 {{else}} not-prose{{end }}">
  <video class="block relative shadow-lg " {{if not (.Get "controls") }}autoplay muted loop{{else}}controls{{end}}>
    {{ with $webm }}
      <source src="{{.RelPermalink}}" type="video/webm">
    {{end}}
    {{ with $mp4 }}
      <source src="{{.RelPermalink}}" type="video/mp4">
    {{end}}
    {{ with .Get "caption" }}
      <figcaption class="text-center -mt-4 text-sm  text-gray-500 ">
        {{ . }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
