{{/* get file that matches the filename as specified as src="" in shortcode */}}

{{ $mp4 := .Page.Resources.GetMatch (printf "*%s.mp4" (.Get "src")) }}
{{ $webm := .Page.Resources.GetMatch (printf "*%s.webm" (.Get "src")) }}
{{ if (or $mp4 $webm) }}
<figure>
  <video class="block relative shadow-lg {{ if .Parent }}{{ else }}my-6 {{ if .Get "vertical" }}mx-auto w-2/3{{ else }}{{ end }}{{ end }} img" autoplay muted loop>
    {{ with $mp4 }}
    <source src="{{.RelPermalink}}" type="video/mp4">
    {{end}}
    {{ with $webm }}
    <source src="{{.RelPermalink}}" type="video/webm">
    {{end}}
    {{ with .Get "caption" }}
      <figcaption class="text-center -mt-4 text-sm  text-gray-500 ">
        {{ . }}
      </figcaption>
    {{ end }}
  </figure>
{{ end }}
