{{ define "main" }}
<div class="z-20 dark:prose-invert prose prose-sm mb-16 with-links relative">
  {{ .Content }}
</div>
<div>
    {{ $paginator := (.Paginate (where .RegularPages ".Params.archived" "!=" true)  2500) }}
    {{ range $paginator.Pages }}
      {{ $color := "yellow" }}
      {{range first 1 (shuffle $.Site.Params.themeColors) }}
        {{ $color = . }}
      {{ end }}
      {{ with .Params.color }}
        {{ $color = . }}
      {{ end }}
      {{ partial "inline.html" . }}
  {{ end }}
  <div class="">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
