{{ define "main" }}

<div class="z-20 dark:prose-invert prose mb-16 with-links relative">
  {{ .Content }}
</div>
{{end}}
{{ define "full" }}
  <div data-pswp >
    <div class=" mx-4 max-w-6xl">
{{ $paginator := (.Paginate (where .RegularPages ".Params.archived" "!=" true) 250) }}
{{ $allimages := slice }}
{{ range $index, $page := $paginator.Pages }}
  {{ $images := .Resources.ByType "image" }}
  {{ $src := $images.GetMatch "cover" }}
  {{ $src := $images.GetMatch "*feature*" }}
  {{ $src := cond (ne $src nil) $src ($images.GetMatch "{*cover*,*thumbnail*}") }}
  {{ $src := cond (ne $src nil) $src (index $images 0) }}

  {{ if $src }}
    {{ $xs := "20x" }}
    {{ $md := "800x" }}
    {{ $lqip := $src.Resize (printf "%s webp" $xs) }}
    {{ $small := $src.Resize (printf "%s webp" $md) }}
    {{ if eq $src.MediaType.SubType "gif" }}
       {{ $lqip = $src.Resize (printf "%s" $xs) }}
       {{ $small = $src }}
     {{ end }}
     <a href="{{$page.RelPermalink}}" class=" my-4 block">
       <figure>
       <picture class="mx-auto box-border block w-fit">
        <img
          loading="lazy"
          style="background: url(data:image/webp;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover"
          alt=""
          class="aspect-[{{$src.Width}}/{{$src.Height}}] {{ if (gt $src.Height $src.Width)}}h-[80vh] w-auto{{else}}max-w-[60vw]{{end}}  hover:shadow-{{ $.Scratch.Get "color" }}/20 shadow-md hover:shadow-xl cursor-pointer lazy "
          src="{{ $small.RelPermalink }}"
          data-src="{{ $small.RelPermalink }}"
          width="{{ $src.Width }}" height="{{ $src.Height }}"/>
        </picture>
        <figcaption class="text-mono text-center mt-2 text-sm  text-gray-500 block">
          {{ $page.Title }}
        </figcaption>
       </figure>
     </a>

  {{ end }}
  {{ end }}
    </div>
  </div>
{{ end }}
