{{ define "main" }}
{{ partial "article_header" . }}
<div class="mb-10 content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
  <div  class="post">
    {{.Content}}
  </div>
</div>
{{ end }}
{{ define "full" }}
{{ $allimages := slice }}
{{ range sort (.Resources.ByType "image") "Name" "asc"}}
  {{ $allimages = $allimages | append (dict "Image" .  ) }}
{{ end }}
{{ $rows := dict }}
{{ $columns := dict }}
{{ $count := 4 }}
{{ range $index, $img := $allimages }}
  {{ $columns = merge $columns (dict (string (mod $index $count)) (dict "Images" (slice $img)))}}
  {{ if eq (mod $index $count) (sub $count 1) }}
    {{ $rows = merge $rows (dict (string (div $index $count)) $columns) }}
  {{ end }}
  {{ if eq (mod $index $count) 0 }}
    {{ $columns := dict }}
  {{ end }}
{{ end }}
  <div data-pswp class="w-full px-6">
    {{ partial "grid" $rows }}
  </div>
{{ end }}
