<!DOCTYPE html>
<html>
  {{ partial "header" .}}
  <body>
    <div class="wrapper">
      <header class="main_header">
        <h1><a href="/">{{ .Site.Title }}</a></h1>
        {{ partial "main_menu" . }}
      </header>
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partial "footer" .}}
    {{ template "_internal/google_analytics.html" . }}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        new IOlazy();
      });
      $(function(){
        mediumZoom(document.querySelectorAll('[data-action="zoom"]'), {margin: 20})
        {{ block "js" . }}
        {{ end }}
      })
    </script>
  </body>
</html>
