<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header" .}}
  <body>
    <div class="wrapper">
      {{ block "header" . }}
        {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
        <header {{ with $image }}style="background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url('{{ .Permalink }}') no-repeat 50% 0 / cover"{{ end }} class="hero_header">
          {{ partial "main_menu" . }}
          <h1><a href="/">{{ .Title }}</a></h1>
        </header>
      {{ end }}
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partial "footer" .}}
    {{ partial "gtag.html" . }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    {{ $.Scratch.Set "jslibs" slice }}
    {{ $libs := slice "js/lazysizes.min.js" "js/medium-zoom.min.js" "js/iolazy.min.js" }}
    {{ range $libs }}
      {{ $.Scratch.Add "jslibs" (resources.Get . ) }}
    {{ end }}
    {{ $js := .Scratch.Get "jslibs" | resources.Concat "js/main.js" }}
    {{ if .Site.IsServer }}
      <script src="{{ $js.Permalink }}"></script>
    {{ else }}
      {{ $js := $js | minify | fingerprint }}
      <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{ end }}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        new IOlazy();
        mediumZoom(document.querySelectorAll('[data-action="zoom"]'), {margin: 20});
        {{ block "js" . }}
        {{ end }}
      })
    </script>
  </body>
</html>
