<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head" .}}
  <body>
    <div class="wrapper">
      {{ partial "header" . }}
      {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </div>
    {{ partial "footer" .}}
    {{ partial "gtag.html" . }}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    {{ $.Scratch.Set "jslibs" slice }}
    {{ $libs := slice "js/lazysizes.min.js" "js/medium-zoom.min.js" "js/iolazy.min.js" "js/main.js" }}
    {{ range $libs }}
      {{ $.Scratch.Add "jslibs" (resources.Get . ) }}
    {{ end }}
    {{ $js := .Scratch.Get "jslibs" | resources.Concat "js/main.js" }}
    {{ if .Site.IsServer }}
      <script src="{{ $js.Permalink }}"></script>
    {{ else }}
      {{ $js := $js | minify | fingerprint }}
      <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{ end }}
  </body>
</html>
