{{ define "main" }}
<div class="main">
</div>
<div class="main">
  <div class="list">
    <div class="grid two">
    {{ range first 2 (.Paginator 50).Pages }}
      {{ partial "post.html" (dict "post" . "size" "500x401")}}
    {{ end }}
    </div>
    <div class="grid three">
    {{ range first 3 (after 2 (.Paginator 50).Pages) }}
      {{ partial "post.html" (dict "post" . "size" "400x500")}}
    {{ end }}
    </div>
    <div class="grid four">
    {{ range after 5 (.Paginator 50).Pages }}
      {{ partial "post.html" (dict "post" . "size" "400x501")}}
    {{ end }}
    </div>
  </div>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}

