{{ define "main" }}
<div class="main">
</div>
<div class="main">
  <header style="margin-top:50px;">
    <h1>{{ .Params.title }}</h1>
  </header>
  <div class="list journal">
    {{ range (.Paginator 50).Pages }}
    <div class="note-tile">
      {{ $image := .Resources.GetMatch "cover" | default (index (.Resources.ByType "image") 0) }}
      {{if $image }}
      {{ $resized := $image.Fill "500x300" }}
         <a class="no-decoration" href="{{ .Permalink }}">
           <img src="{{ $resized.Permalink }}"/>
        </a>
      {{end}}
    </div>
    <header class="note-header">
      <h4>
          {{ .Params.emoji }}
          <a class="title bold no-decoration" href="{{ .Permalink }}">{{ .Title }}</a><br/>
      </h4>
      <p>
      {{ .Summary | replaceRE "(?ms)(<figure.*</figure>)" "" | safeHTML | truncate 200 }}
      </p>
    </header>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}

