{{ $allimages := slice }}
{{ range .site.regularpages }}
  {{ $allimages := $allimages | append .resources.bytype "image" }}
{{ end }}
{{ $rows := dict }}
{{ $columns := dict }}
{{ range $index, $img := $allimages }}
  {{ $columns := merge $columns dict (string (mod $index 6)) (dict "images" (slice $img))}}
  {{ if eq (mod $index 6) 5 }}
    {{ $rows = merge $rows (dict (string (div $index 6)) $columns) }}
  {{ end }}
  {{ if eq (mod $index 6) 0 }}
    {{ $columns := dict }}
  {{ end }}
{{ end }}
{{ partial "grid" $rows }}
