{{ define "main" }}
<div class="mb-10 content-{{  $.Scratch.Get "color" }}">
    <div >
      <ul class="list-disc">
        {{ $current := . }}
        {{ range .Site.Menus.more }}
        {{ $active := or ($current.IsMenuCurrent .Menu .) ($current.HasMenuCurrent .Menu .) }}
        {{ $active = or $active (eq .Page $current) }}
        {{ $active = or $active (eq .Page.Section $current.Type) }}
        <li class="p-1">
          <a href="{{ .URL }}" title="{{ .Title }}">
            <span class="font-bold underline decoration-dotted  decoration-{{$.Scratch.Get "color"}} hover:text-{{$.Scratch.Get "color"}} transition ease-in-out duration-200 " >{{ .Name }}</span> {{ with .Page.Description }} ⭢ {{ . }}{{end}}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
</div>
{{ end }}
