{{ define "main" }}
{{ partial "article_header" . }}
<div class="mb-10 content-{{  $.Scratch.Get "color" }}">
  <div  class="post">
    {{.Content}}
  </div>
    <div class="py-2">
      <ul class="flex flex-wrap flex-row text-right  ">
        {{ $current := . }}
        {{ range .Site.Menus.footer }}
        {{ $active := or ($current.IsMenuCurrent .Menu .) ($current.HasMenuCurrent .Menu .) }}
        {{ $active = or $active (eq .Page $current) }}
        {{ $active = or $active (eq .Page.Section $current.Type) }}
        <li class=" pl-1">
          <a class="{{ if $active }}underline decoration-dotted  decoration-{{$.Scratch.Get "color"}} {{ end }} hover:text-{{$.Scratch.Get "color"}} transition ease-in-out duration-200 " href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
</div>
{{ end }}
