<span class="text-sm my-4 block prose">
  💌 Que faire maintenant? Tu t'ennuies, tu as une idée ou juste envie de papoter? <a class="link" href="mailto:{{.Site.Params.social.email}}?subject=About {{.Title}} - {{ .Permalink }}">envoie un email</a>.
  {{ with .Parent.OutputFormats.Get "rss" }}
    Tu ne veux rien louper? Abonne-toi au <a href="{{ .RelPermalink | safeURL }}" class="link" title="{{ $.Site.Title }}">RSS</a>.
  {{ end -}}
  Et sinon, j'envoie aussi <a href="/bonjour" class="link">une petite lettre</a> ou <a href="/details">une photo</a>
</span>
