{{ define "main" }}

<header>
  <h1 class="text-xl font-bold text-darker dark:text-gray-100">{{.Title}}</h1>
  <div class="post">
    {{ .Content }}
  </div>

  <div class="mb-8">
  {{ range .RegularPages.GroupByDate "2006" }}
  <header class="my-4 flex flex-row justify-between">
  <h2 class="text-xl lg:text-2xl font-bold">{{ .Key }}</h2><span class="text-sm opacity-30 text-right font-light">{{ len .Pages}}</span>
  </header>
  {{ range .Pages }}
  <div class="gap-2 relative py-2 grid grid-cols-4 ">
    <h2 class="col-span-2 font-semibold text-darker dark:text-gray-100">
      <a href="{{.RelPermalink}}">
        {{ .Params.Title }}
      </a>
    </h2>
    <h3 class="text-gray-800 dark:text-gray-300">{{ .Params.author }}</h3>
    <div class="text-right tracking-tight text-xs text-gray-700 dark:text-gray-300 uppercase">
      {{ if .Params.reading }}
      {{ T "reading" }}
      {{ else }}
      {{ with .Params.rating }}{{ strings.Repeat . "★" }}{{end}}
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}
  </div>

  {{ end }}
