{{ define "main" }}

<div class="z-20 dark:prose-invert prose mb-16 with-links relative">
  {{ .Content }}
</div>

<div class="max-w-prose mb-8">
  {{ range sort .Site.Data.books "year" "desc" }}
  <header class="my-4 flex flex-row items-center gap-2">
    <span class="font-sans">{{ partial "moon" .}} • {{ len .books}}</span>
    <div class=" flex-grow "><div class="mt-1 border-t border-double border-gray-800 dark:border-gray-100" ></div></div>
    <h2 class="text-xl lg:text-2xl font-bold">{{ .year }}</h2>
  </header>
  {{ range sort .books "date" "desc" }}
      {{ $color := "accent" }}
      {{range first 1 (shuffle (slice "accent" "sunray" "purpleheart" "forest" "jazzberry" "rose" "teal" "tuscan")) }}
        {{ $color = . }}
      {{ end }}
      {{ with .Params.color }}
        {{ $color = . }}
      {{ end }}
    <article class="hover:bg-{{$color}} !bg-opacity-70 rounded-sm ">
      <header class="  flex flex-row justify-between gap-2 p-2 items-center">
      <h2 class="text-gray-800 dark:text-gray-100 line-clamp-1 no-underline block "><a href="{{.url}}">{{ .title }}</a></h2>
      <div class=" flex-grow "><div class="mt-3 border-t border-dotted border-gray-800 dark:border-gray-100" ></div></div>
      <h3 class="dark:text-gray-400 text-gray-700 italic ">{{ .author }}</h3>
    </header>
  </article>
  {{ end }}
  {{ end }}
</div>

{{ end }}
