{{ define "main" }}
<header class="mb-6 ">
  <span class="text-sm  text-gray-700 capitalize mb-2 block">

    {{ with .Params.rating }}{{ strings.Repeat . "★" }}{{end}}
    {{ .Site.Params.arrow }}
    <a href="{{ .RelPermalink }}">
      {{ if .Params.reading }}
      {{ T "reading" }}
      {{ else }}
      {{ $read := time .Params.read }}
      {{ $read.Day }} {{ index .Site.Data.mois (printf "%d" $read.Month) }} {{ $read.Year }}
      {{ end }}
    </a>
  </span>
  <h1 class="text-xl font-bold text-crust  mb-2">
    {{ .Title }} {{ with .Params.subtitle }}{{$.Site.Params.arrow}} {{.}} {{end}}
  </h1>
  <h2 class="text-gray-600 ">
    {{ with .Params.author }}
    {{ . }}
    {{ end }}
  </h2>
</header>
<div class="mb-10 content-{{ $.Scratch.Get "color" }}">
  {{ if .Params.isbn13 }}
  <div>
    Trouvez le chez <a class="underline cursor-pointer"
      href="https://www.recyclivre.com/shop/accueil/{{.Params.isbn13}}">Recyclivre</a> ou chez <a class="link"
      href="https://www.librairiesindependantes.com/product/{{ .Params.isbn13 }}">Librairies Indépendantes</a>
  </div>
  {{ end }}
  <div class="post">
    {{.Content}}
  </div>
</div>
{{end}}
