@tailwind base;

@import url('https://fonts.googleapis.com/css?display=swap&family={{ replace .Site.Params.serifFont " " "+" }}:400,400i,600');

@tailwind components;

@tailwind utilities;

:root {
  --accent: {{ with .Site.Params.accentColor }}{{ . }}{{ else }}var(--onyx){{ end }};
  --serif-text: {{ with .Site.Params.serifFont}}{{ . }}{{ else }}theme("fontFamily.serif"){{ end }};
}

.font-serif {
  font-family: var(--serif-text), theme("fontFamily.serif") !important;
}

.link-gray-900 {
  @apply text-gray-900 no-underline relative;
  text-shadow: -1px -1px 0 theme('colors.gray.200'), 1px -1px 0 theme('colors.gray.200'), -1px 1px 0 theme('colors.gray.200'), 1px
  1px 0 theme('colors.gray.200');
  background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.gray.900') 2px, theme('colors.gray.900') 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    @apply text-black no-underline relative;
    text-shadow: -1px -1px 0 theme('colors.gray.200'), 1px -1px 0 theme('colors.gray.200'), -1px 1px 0 theme('colors.gray.200'), 1p
    x 1px 0 theme('colors.gray.200');
    background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.black') 2px, theme('colors.900') 2.5px, transparent 2.5px);
  }
}

.mode-dark {
  .post, .content {
    h2 {
      @apply text-gray-400;
    }
    blockquote {
      @apply bg-gray-800;
      a {
        text-shadow: -1px -1px 0 theme('colors.gray.800'), 1px -1px 0 theme('colors.gray.800'), -1px 1px 0 theme('colors.gray.800'), 1px 1px 0 theme('colors.gray.800');
        background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.200') 2px, theme('colors.blue.200') 2.5px, transparent 2.5px);
      }
    }
  }
  .link, .post a, .content a {
    @apply text-blue-500 no-underline relative;
    text-shadow: -1px -1px 0 theme('colors.gray.900'), 1px -1px 0 theme('colors.gray.900'), -1px 1px 0 theme('colors.gray.900'), 1px 1px 0 theme('colors.gray.900');
    background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.200') 2px, theme('colors.blue.200') 2.5px, transparent 2.5px);
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-blue-600 no-underline relative;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.blue.300') 2px, theme('colors.blue.300') 2.5px, transparent 2.5px);
    }
  }
}

.link, .post a, .content a {
  @apply text-blue-500 no-underline relative;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px
  1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.500') 2px, theme('colors.blue.500') 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    @apply text-blue-600 no-underline relative;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    background-image: linear-gradient(to top, transparent, transparent 2px
    , theme('colors.blue.600') 2px, theme('colors.blue.600') 2.5px, transparent 2.5px);
  }
}

.logo svg {
  @apply fill-current h-8;
}

.photoset {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  &.always-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.max-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.max-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

hr {
  @apply block mt-6 mb-10 border-b border-gray-200 w-2/4 mx-auto;
}

.post, .content {
  @apply mb-10;
  h1 {
   @apply my-6 pt-2 font-semibold block font-sans
  }
  h2 {
   @apply my-6 pt-2 text-gray-600 font-semibold block font-sans
  }
  ul {
   @apply list-disc list-inside my-8
  }
  p {
    @apply my-4
  }
  blockquote {
    @apply font-sans leading-snug text-blue-500 text-center italic pl-2 -ml-2 my-2 bg-gray-200 p-4 rounded;
    a {
      text-shadow: -1px -1px 0 theme('colors.gray.200'), 1px -1px 0 theme('colors.gray.200'), -1px 1px 0 theme('colors.gray.200'), 1px 1px 0 theme('colors.gray.200');
      background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.blue.200') 2px, theme('colors.blue.200') 2.5px, transparent 2.5px);
    }
  }
}


// Expand Hugo templates

.pagination {
  @apply flex flex-row items-center justify-center py-10 font-sans text-xs
}

.pagination li {
  @apply p-2
}
.pagination li.active {
  @apply bg-gray-200 rounded px-4 py-2 text-sm
}
.mode-dark .pagination li.active {
  @apply bg-gray-800 rounded px-4 py-2 text-sm
}

.pagination li.disabled {
    @apply opacity-25
}
.twitter-tweet {
  @apply mx-auto my-10
}
