@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --accent: {{ with .Site.Params.accentColor }}{{ . }}{{ else }}var(--onyx){{ end }};
}

$colors: red, green, blue, orange, yellow, indigo, pink, teal, accent, cascade, bluewhale, sunray, rose, amber;
@each $color in $colors {
  .content-#{$color} .post blockquote {
    @apply leading-snug pl-4 -ml-4 md:-ml-6 border-l-4 border-#{$color}-500 font-normal;
  }
  .content-#{$color} .note {
    @apply my-4 md:-mx-6 -ml-4 px-4 md:pr-6 py-1 md:pl-6 border-l-4 border-#{$color}-500 bg-gray-100 dark:bg-gray-900;
  }
  .content-#{$color} .post a{
    @apply font-semibold text-#{$color}-600 dark:text-#{$color}-200 underline relative;
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-#{$color}-600 dark:text-#{$color}-200 underline relative;
    }
  }
  .content-#{$color} .post h2, .content-#{$color} .post h3 {
    @apply underline;
    text-decoration-color: theme('colors.#{$color}.600');
    a {
      @apply text-gray-900 dark:text-gray-100;
    }
  }
}
.logo svg {
  @apply fill-current;
}

hr {
  &:after {
    content:"⁎ ⁎ ⁎ ";
    @apply block mx-auto text-center;
  }
  @apply block mt-6 border-none mb-10 mx-auto;
}
.home {
  p:first-child {
    @apply text-lg mb-8;
  }
  p, ul, ol {
    @apply leading-relaxed text-base mb-6;
  }
}

.post {
  @apply mb-10;
  h1, h2, h3, h4 {
    @apply dark:text-gray-100;
  }
  p, ul, ol {
    @apply leading-relaxed text-base ;
  }
  code {
    @apply w-full break-words my-6;
  }
  ul li::before {
    content: "• ";
    @apply opacity-30;
  }
  h3 {
    @apply text-xl mt-8 text-gray-900 uppercase font-normal py-1 inline;
  }
  h2 {
    @apply text-xl mt-8 text-gray-900 py-1 font-semibold inline;

    a {
      @apply text-gray-900;
    }
  }
  h2 + p {
    @apply mt-8;
  }
  ul {
   @apply list-inside my-4
  }

  ol {
   @apply list-decimal list-inside my-4
  }
  li p {
    @apply inline my-0
  }
  p {
    @apply my-6
  }
  .medium-zoom-overlay {
    @apply dark:bg-dark;
  }
}
.link, .with-links a, .content a {
  @apply font-semibold dark:text-accent-400 text-accent-600 italic underline relative transition duration-500 ease-in-out;
  &:hover {
    @apply dark:text-accent-500 text-accent-500 underline relative;
  }
}

// Expand Hugo templates

.pagination {
  @apply flex flex-row items-center justify-center py-10 text-sm;
}

.pagination li {
  @apply p-2
}
.pagination li.active {
  @apply font-bold dark:text-gray-200 rounded text-sm
}

.pagination li.disabled {
  @apply opacity-25
}
.twitter-tweet {
  @apply mx-auto my-10
}

.medium-zoom-image--opened { object-fit: contain !important; }
