@tailwind base;

@font-face {
  font-family: "ia-writer-duo";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/iAWriterDuoS-Regular.eot") format("OpenType"),
       url("/iAWriterDuoS-Regular.woff") format("woff"),
       url("/iAWriterDuoS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-duo";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/iAWriterDuoS-Bold.eot") format("OpenType"),
       url("/iAWriterDuoS-Bold.woff") format("woff"),
       url("/iAWriterDuoS-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-duo";
  font-display: swap;
  font-style: italic;
  src: url("/iAWriterDuoS-Italic.eot") format("OpenType"),
       url("/iAWriterDuoS-Italic.woff") format("woff"),
       url("/iAWriterDuoS-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-duo";
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  src: url("/iAWriterDuoS-BoldItalic.eot") format("OpenType"),
       url("/iAWriterDuoS-BoldItalic.woff") format("woff"),
       url("/iAWriterDuoS-BoldItalic.woff2") format("woff2");
}


@import url('{{ .Site.Params.fontURL }}');

@tailwind components;

@tailwind utilities;

html {
  font-size: 16px;
  line-height: 1.5;
}

:root {
  --accent: {{ with .Site.Params.accentColor }}{{ . }}{{ else }}var(--onyx){{ end }};
  --serif-text: {{ with .Site.Params.serifFont}}{{ . }}{{ else }}theme("fontFamily.serif"){{ end }};
  --sans-text: {{ with .Site.Params.sansFont}}{{ . }}{{ else }}theme("fontFamily.sans"){{ end }};
  --mono-text: "ia-writer-duo";
}

.font-mono {
  font-family: var(--mono-text), theme("fontFamily.mono") !important;
}

.font-sans {
  font-family: theme("fontFamily.sans") !important;
}
.link-gray-900 {
  @apply text-gray-900 no-underline relative;
  background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.gray.900') 2px, theme('colors.gray.900') 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    @apply text-black no-underline relative;
    background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.black') 2px, theme('colors.900') 2.5px, transparent 2.5px);
  }
}

$colors: red, green, blue, orange, yellow, indigo, pink, teal, accent, sunray;
@each $color in $colors {
  .mode-dark {
    .content-#{$color} a {
      @apply text-#{$color}-400 no-underline relative;
      background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.#{$color}.400') 2px, theme('colors.#{$color}.400') 2.5px, transparent 2.5px);
      transition: color 0.5s, background-image 0.5s linear;
      &:hover {
        @apply text-#{$color}-200 no-underline relative;
        background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.#{$color}.300') 2px, theme('colors.#{$color}.300') 2.5px, transparent 2.5px);
      }
    }
	}
  .content-#{$color} .post blockquote {
    @apply text-#{$color}-500;
  }
  .content-#{$color} a {
    @apply text-#{$color}-500 no-underline relative;
    background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.#{$color}.500') 2px, theme('colors.#{$color}.500') 2.5px, transparent 2.5px);
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-#{$color}-600 no-underline relative;
      background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.#{$color}.600') 2px, theme('colors.#{$color}.500') 2.5px, transparent 2.5px);
    }
  }
}

.link, .content a, .post a {
  @apply text-accent-700 no-underline relative;
  background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.accent.500') 2px, theme('colors.accent.500') 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    @apply text-accent-600 no-underline relative;
    background-image: linear-gradient(to top, transparent, transparent 2px
    , theme('colors.accent.600') 2px, theme('colors.accent.600') 2.5px, transparent 2.5px);
  }
}

.micropost {
  blockquote {
    @apply leading-snug text-accent-700  font-bold font-normal;
  }
}

.logo svg {
  @apply fill-current;
}

.photoset {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  &.always-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.max-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.max-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

hr {
  @apply block mt-6 mb-10 border-b border-gray-200 w-2/4 mx-auto;
}

.post, .content {
  @apply mb-10;
  li::before {
    content: "• ";
  }
  h3 {
    @apply mt-4 text-gray-700 uppercase font-normal;
  }

  h1 {
    @apply mt-4 font-semibold block;
  }
  h2 {
    @apply mt-4 text-gray-600 font-semibold block;
  }
  h2 + p {
    @apply mt-4;
  }
  ul {
   @apply list-inside my-4
  }

  ol {
   @apply list-decimal list-inside my-4
  }
  li p {
    @apply inline my-0
  }
  p {
    @apply my-4
  }
  blockquote {
    @screen md {
      @apply -mx-8;
    }
    @apply leading-snug text-accent-700  font-normal text-xl py-4;
    a {
      background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.accent.200') 2px, theme('colors.accent.200') 2.5px, transparent 2.5px);
    }
  }
}

.mode-dark {
  .post, .content {
    h2, h3, h1, h4 {
      @apply text-gray-300;
    }
    .medium-zoom-overlay {
      @apply bg-dark;
    }
    blockquote {
      a {
        background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.accent.200') 2px, theme('colors.accent.200') 2.5px, transparent 2.5px);
      }
    }
  }
  .link, .content a {
    @apply text-accent-400 no-underline relative;
    background-image: linear-gradient(to top, transparent, transparent 2px, theme('colors.accent.400') 2px, theme('colors.accent.400') 2.5px, transparent 2.5px);
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-accent-600 no-underline relative;
      background-image: linear-gradient(to top, transparent, transparent 2px , theme('colors.accent.300') 2px, theme('colors.accent.300') 2.5px, transparent 2.5px);
    }
  }
}

// Expand Hugo templates

.pagination {
  @apply flex flex-row items-center justify-center py-10 text-sm;
}

.pagination li {
  @apply p-2
}
.pagination li.active {
  @apply bg-gray-200 rounded px-4 py-2 text-sm
}
.mode-dark .pagination li.active {
  @apply bg-dark rounded px-4 py-2 text-sm
}

.pagination li.disabled {
  @apply opacity-25
}
.twitter-tweet {
  @apply mx-auto my-10
}

.no-js img.lazyload {
  display: none;
}

.menu li:not(:last-child) ::after {
  @screen md {
    @apply ml-2;
    content: "◦";
  }
}
