@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 18px;
  line-height: 1.625;
}

:root {
  --accent: {{ with .Site.Params.accentColor }}{{ . }}{{ else }}var(--onyx){{ end }};
  --gap: 8px;
}

$colors: red, green, blue, orange, yellow, indigo, pink, teal, accent, cascade, bluewhale, sunray, rose, amber;
@each $color in $colors {
  .content-#{$color} ::selection {
    @apply bg-#{$color}-200;
  }
  .content-#{$color} .post blockquote {
    @apply leading-snug pl-4  border-l-4 border-#{$color}-500 font-normal italic;
  }
  .content-#{$color} .note {
    @apply my-4 md:-mx-6 -ml-4 px-4 md:pr-6 py-1 md:pl-6 border-l-4 border-#{$color}-500 bg-gray-100 dark:bg-gray-900;
  }
  .content-#{$color} .link{
    @apply text-#{$color}-600;
  }
  .content-#{$color} .post a{
    @apply font-semibold text-#{$color}-600 dark:text-#{$color}-200 underline relative;
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-#{$color}-600 dark:text-#{$color}-200 underline relative;
    }
  }
  .content-#{$color} .post h1 {
    @apply text-#{$color}-600;
  }
  .content-#{$color} hr {
    @apply border-#{$color}-400;
  }
  .content-#{$color} .post h2, .content-#{$color} .post h3 {
    @apply underline;
    text-decoration-color: theme('colors.#{$color}.600');
    a {
      @apply text-gray-900 dark:text-gray-100;
    }
  }
  .td-#{$color} {
    text-decoration-color: theme('colors.#{$color}.600');
  }
}
.logo svg, .fill svg {
  @apply fill-current;
}
footer ul li:not(:last-child):after {
 content: "·";
}

hr {
  &:not(.line) {
    @apply block mt-6 border-accent-400  mb-10 mx-auto;
  }
  &.line {
    @apply border-gray-800 block mt-6 border-0 mb-4 mx-auto w-full border-t;
  }
}

.home {
  @apply md:max-w-lg mb-10;
  p:first-child {
    @apply text-lg md:text-2xl mb-8;
  }
  p, ul, ol {
    @apply mb-6;
  }
}

.post {
  h1, h2, h3, h4, p, ul, code {
  @apply md:max-w-lg ;
  }
  @apply  mb-10;
  h1, h2, h3, h4 {
    @apply dark:text-gray-100 ;
  }
  code {
    @apply w-full break-words my-6;
  }
  ul li::before {
    content: "• ";
    @apply opacity-30;
  }
  h1 {
    @apply font-semibold text-3xl mt-8 text-gray-900 font-normal py-1;
  }
  h2 {
    @apply text-2xl mt-8 dark:text-gray-100 text-gray-900 py-1 font-bold;

    a {
      @apply text-gray-900;
    }
  }
  h2 + p {
    @apply mt-8;
  }
  h3 {
    @apply text-xl mt-8 text-gray-900 dark:text-gray-100 font-normal py-1;
  }
  ul {
   @apply list-inside my-4;
  }

  ol {
   @apply list-decimal list-inside my-4;
  }
  li p {
    @apply inline my-0;
  }
  p:not(:first-child) {
    @apply my-6;
  }
  .medium-zoom-overlay {
    @apply dark:bg-dark;
  }
}
.link, .with-links a, .content a {
  @apply font-semibold dark:text-accent-400 text-accent-600 underline relative transition duration-500 ease-in-out;
  &:hover {
    @apply dark:text-accent-500 text-accent-500 underline relative;
  }
}

.mgrid img {
  width: calc(100% - var(--gap, 0px));
  height: calc(100% - var(--gap, 0px));
  left: calc(var(--gap, 0px) * 0.5);
  top: calc(var(--gap, 0px) * 0.5);
}

// Expand Hugo templates

.pagination {
  @apply flex flex-row items-center justify-center py-10 text-sm;
}

.pagination li {
  @apply p-2
}
.pagination li.active {
  @apply font-bold dark:text-gray-200 rounded text-sm
}

.pagination li.disabled {
  @apply opacity-25
}
.twitter-tweet {
  @apply mx-auto my-10
}

.medium-zoom-image--opened { object-fit: contain !important; }

/*! PhotoSwipe main CSS by Dmitry Semenov | photoswipe.com | MIT license */
/*
	Styles for basic PhotoSwipe functionality (sliding area, open/close transitions)
*/
/* pswp = photoswipe */
.pswp {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  z-index: 1500;
  -webkit-text-size-adjust: 100%;
  /* create separate layer, to avoid paint on window.onscroll in webkit/blink */
  -webkit-backface-visibility: hidden;
  outline: none; }
  .pswp * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .pswp img {
    max-width: none; }

/* style is added when JS option showHideOpacity is set to true */
.pswp--animate_opacity {
  /* 0.001, because opacity:0 doesn't trigger Paint action, which causes lag at start of transition */
  opacity: 0.001;
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp--open {
  display: block; }

.pswp--zoom-allowed .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.pswp--zoomed-in .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab; }

.pswp--dragging .pswp__img {
  /* autoprefixer: off */
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing; }

/*
	Background is added as a separate element.
	As animating opacity is much faster than animating rgba() background-color.
*/
.pswp__bg {
  @apply bg-white dark:bg-darker bg-opacity-60 backdrop-filter backdrop-blur-md;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: opacity; }

.pswp__scroll-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.pswp__zoom-wrap {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }
.pswp__container {
  -ms-touch-action: none;
  touch-action: none;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 40px;
  bottom: 40px; }

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.pswp__zoom-wrap {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  /* for open/close transition */
  -webkit-transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
          transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1); }

.pswp__bg {
  will-change: opacity;
  /* for open/close transition */
  -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 0.5);
          transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 0.5); }

.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
  -webkit-transition: none;
  transition: none; }

.pswp__container,
.pswp__zoom-wrap {
  -webkit-backface-visibility: hidden; }

.pswp__item {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.pswp__img {
  position: absolute;
  width: auto;
  height: auto;
  top: 0;
  left: 0; }

/*
	stretched thumbnail or div placeholder element (see below)
	style is added to avoid flickering in webkit/blink when layers overlap
*/
.pswp__img--placeholder {
  -webkit-backface-visibility: hidden; }

/*
	div element that matches size of large image
	large image loads on top of it
*/
.pswp__img--placeholder--blank {
  background: rgba(0,0,0,0.5);
 }

.pswp--ie .pswp__img {
  width: 100% !important;
  height: auto !important;
  left: 0;
  top: 0; }

/*
	Error message appears when image is not loaded
	(JS option errorMsg controls markup)
*/
.pswp__error-msg {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin-top: -8px;
  color: #CCC; }

.pswp__error-msg a {
  color: #CCC;
  text-decoration: underline; }

.pswp__ui {
  @apply hidden;
}


