@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-size: 18px;
  line-height: 1.5;
}

:root {
  --accent: {{ with .Site.Params.accentColor }}{{ . }}{{ else }}var(--onyx){{ end }};
}

$colors: red, green, blue, orange, yellow, indigo, pink, teal, accent, cascade, bluewhale, sunray, rose, amber;
@each $color in $colors {
  .zoom-#{$color} {
    .medium-zoom-overlay {
      /* purgecss ignore current */
      @apply bg-#{$color}-200 dark:bg-#{$color}-700 #{!important};
    }
  }
  .content-#{$color} .post blockquote {
    @apply leading-snug pl-6 -ml-6 border-l-4 border-#{$color}-500 font-normal;
  }
  .content-#{$color} .post a{
    @apply text-#{$color}-600 dark:text-#{$color}-200 underline relative;
    transition: color 0.5s, background-image 0.5s linear;
    &:hover {
      @apply text-#{$color}-600 dark:text-#{$color}-200 underline relative;
    }
  }
  .content-#{$color} .post h2, .content-#{$color} .post h3 {
    @apply bg-#{$color}-200 dark:bg-#{$color}-600;
    a {
      @apply text-gray-900 dark:text-gray-100;
    }
  }
}
.logo svg {
  @apply fill-current;
}

.photoset {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  &.always-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.max-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.max-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

hr {
  @apply block mt-6 mb-10 border-b border-gray-200 w-2/4 mx-auto;
}

.post {
  @apply mb-10;
  p, ul, ol {
    @apply leading-relaxed text-base md:text-lg;
  }
  li::before {
    content: "• ";
  }
  h3 {
    @apply text-xl mt-8 text-gray-900 uppercase font-normal py-1 px-2 inline;
  }

  h1 {
    @apply mt-4 font-bold block;
  }
  h2 {
    @apply text-xl mt-8 text-gray-900 py-1 px-2 font-bold inline;

    a {
      @apply text-gray-900;
    }
  }
  h2 + p {
    @apply mt-8;
  }
  ul {
   @apply list-inside my-4
  }

  ol {
   @apply list-decimal list-inside my-4
  }
  li p {
    @apply inline my-0
  }
  p {
    @apply my-6
  }
}

.post, .content {
  h2, h3, h1, h4 {
    @apply dark:text-gray-100;
  }
  .medium-zoom-overlay {
    @apply dark:bg-dark;
  }
}
.link, .content a {
  @apply dark:text-accent-400 underline relative;
  transition: color 0.5s, background-image 0.5s linear;
  &:hover {
    @apply dark:text-accent-500 underline relative;
  }
}

// Expand Hugo templates

.pagination {
  @apply flex flex-row items-center justify-center py-10 text-sm;
}

.pagination li {
  @apply p-2
}
.pagination li.active {
  @apply font-bold dark:text-gray-200 rounded text-sm
}

.pagination li.disabled {
  @apply opacity-25
}
.twitter-tweet {
  @apply mx-auto my-10
}

.no-js img.lazyload {
  display: none;
}

.menu li:not(:last-child) ::after {
  @screen md {
    @apply ml-2;
    content: "◦";
  }
}

.medium-zoom-image--opened { object-fit: contain !important; }
