@font-face {
  font-family: "ia-writer-quattro";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/iAWriterQuattroS-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-quattro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/iAWriterQuattroS-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "ia-writer-quattro";
  font-display: swap;
  font-style: italic;
  src: url("/fonts/iAWriterQuattroS-Italic.woff2") format("woff2");
}

