{{ define "js" }}
  {{ if .Params.geojson }}
    var data = {{ .Params.geojson | readFile | safeJS }}
    mapboxgl.accessToken = '{{ .Site.Params.mapbox }}';
    var map = new mapboxgl.Map({
      container: 'map',
      interactive: false,
      zoom: 14,
      center: [data.features[0].properties.longitude, data.features[0].properties.latitude],
      style: 'mapbox://styles/yannick-io/cjfp8z2h53ry82so1w3bw2coh'
    });
    map.on('load', function () {
      map.addLayer({
        "id": "route",
        "type": "line",
        "paint": {
            "line-color": "#D9541C",
            "line-width": 1.5
        },
        "source": {
          "type": "geojson",
          "data": data
        }
      })

    });
  {{ end }}
{{ end }}
{{ define "main" }}
<div class="main note">
  <header>
    <h1>{{ .Params.emoji }} {{ .Title }}</h1>
    <h4>{{ dateFormat "Jan 02, 2006" .Date }}</h4>
  </header>
  {{ partial "gallery.html" . }}
  {{.Content}}
  {{ partial "geojson.html" . }}
  {{ template "_internal/disqus.html" . }}
  </div>
{{ end }}
