{{ define "js" }}
  {{ if .Params.geojson }}
      var data = {{ .Params.geojson | readFile | safeJS }}
      var options = {
        zoomControl: false,
        boxZoom: false,
        dragging: false,
        doubleClickZoom: false,
        attributionControl: false,
        scrollWheelZoom: false,
        touchZoom: false
      }
      var map = L.map('map', options).setView([data.features[0].properties.latitude, data.features[0].properties.longitude], 15);
      var style = {
        color: "#666",
        weight: 1.5

      }
      L.geoJson(data, { style: style }).addTo(map);
  {{ end }}
{{ end }}
{{ define "main" }}
<div class="main">
  <header>
    <h1>{{ .Params.emoji }} {{ .Title }}</h1>
    <h4>{{ dateFormat "Jan 02, 2006" .Date }}</h4>
  </header>
  {{ partial "gallery.html" . }}
  {{.Content}}
  {{ if .Params.geojson }}
    {{ $info := getJSON .Params.geojson }}
    {{ range $info.features }}
      <div class="geojson">
        <div id="map"></div>
        <div class="info">
          <span>Distance: {{ math.Round (div .properties.distance 1000)}}km</span> •
          <span>map: <a href="https://www.google.com/maps/@{{- .properties.latitude -}},{{- .properties.longitude -}},15z">Google Maps</a></span>
        </div>
      </div>
    {{ end }}
  {{ end }}
  {{ template "_internal/disqus.html" . }}
  </div>
{{ end }}
