{{ define "main" }}

<div class="z-20 prose mb-16 with-links relative">
  {{ .Content }}
</div>
{{ end }}
{{ define "full" }}

{{ $paginator := (.Paginate (where .RegularPages ".Params.archived" "!=" true) 250) }}
<div class="h-feed mx-6 mb-10 grid gap-8 grid-cols-1 md:grid-cols-3 max-w-6xl">
  {{ range $index, $page := $paginator.Pages }}
<article class="py-4 group">
    {{ $images := .Resources.ByType "image" }}
    {{ $src := $images.GetMatch "cover" }}
    {{ $src := $images.GetMatch "*feature*" }}
    {{ $src := cond (ne $src nil) $src ($images.GetMatch "{*cover*,*thumbnail*}") }}
    {{ $src := cond (ne $src nil) $src (index $images 0) }}
    {{ if $src }}
      {{ $xs := "20x" }}
      {{ $md := "800x" }}
      {{ $lqip := $src.Resize (printf "%s webp" $xs) }}
      {{ $small := $src.Resize (printf "%s webp" $md) }}
      {{ if eq $src.MediaType.SubType "gif" }}
        {{ $lqip = $src.Resize (printf "%s" $xs) }}
        {{ $small = $src }}
      {{ end }}
      <a href="{{ .RelPermalink }}">
        <picture class="aspect-square relative box-border block my-2 ">
          <img
            loading="lazy"
            style="background: url(data:image/webp;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover"
            alt="{{ .Title }}"
            class="hover:shadow-{{ .Params.color }}/20 shadow-md cursor-pointer object-cover lazy absolute top-0 left-0 w-full h-full"
            data-action="zoom"
            data-zoom-src="{{ $src.RelPermalink}}"
            src="{{ $small.RelPermalink }}"
            data-src="{{ $small.RelPermalink }}"
            width="{{ $src.Width }}" height="{{ $src.Height }}"/>
        </picture>
      </a>
      {{ end }}
    <header >
      <h2 class="text-xl  text-darker {{ with .Params.Color }}group-hover:text-{{ . }} {{ else }}group-hover:text-accent{{ end }} transition ease-in-out duration-200">
  <a href="{{ .RelPermalink }}">
          {{ .Title  |markdownify}}
  </a>
      </h2>
      <h3 class="line-clamp-1 text-sm text-darker italic transition ease-in-out duration-400 ">
        {{ with .Params.pricetag }}
          {{ . | markdownify }}
        {{ else }}
          {{ with .Params.subtitle }}
            {{ . | markdownify }}
          {{ end }}
        {{ end }}
      </h3>
    </header>
</article>
    {{ end }}
  <div class="">
    {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
