input + label {
  span {
    transition: .5s;
  }
}
label:hover {
  cursor: pointer;
}
input:checked + label::after {
  content: "-";

}
input ~ nav {
  transition: .5s;
  transition-delay: .5s;
  > ul {
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    > li {
      opacity: 0;
      padding: 0;
      transition: .5s;
      transition-delay: 0s;
      > a {
        text-decoration: none;
        color: var(--onyx);
        display: block;
        padding: 20px;
      }
    }
  }
}
input:checked ~ nav {
  @apply visible;
  transition-delay: 0s;
  > ul {
    @apply block;
    > li {
      opacity: 1;
      transition-delay: .5s;
    }
  }
}
