html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: #343434;
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.52;
}

a, a:visited {
  color: #343434;
}

h1.large {
  font-size: 5.0rem;
}
h1 {
  font-size: 3.7rem;
}
h2, h1.medium {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.6rem;
}

h1, h2, h3, h4, .serif {
  margin: 0;
  font-weight: 300;
}

footer {
  font-weight: 100;
  text-align: center;
  position: relative;
  height: 50px;
  background-color: white;
  line-height: 50px;
  clear:both;
}

footer a, footer a:visited {
  padding-bottom: 2px;
  background-image: linear-gradient(to top, transparent, transparent 2px, #aaa 2px, #aaa 2.5px, transparent 2.5px);
}

blockquote {
  font-style: italic;
  border-left: 3px solid #333;
  padding-left: 20px;
  margin-left: -23px;
}

a {
  text-decoration: none;
  position: relative;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, #333 2px, #333 2.5px, transparent 2.5px);
  transition: color 0.5s, background-image 0.5s linear;
}

a:visited, a:hover {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  background-image: linear-gradient(to top, transparent, transparent 2px, #666 2px, #666 2.5px, transparent 2.5px);
}


figure {
  margin-top: 1rem !important;
  margin: 0;
}

figure p {
  margin-top: 10px;
  margin-bottom: 0;
}

b {
  font-weight: 400;
}

/* Helpers */

.italic {
  font-style: italic !important;
}

.center {
  text-align: center;
}

.emoji {
  font-family: arial;
}

.t09 {
  font-size: 0.9rem;
}

.t12 {
  font-size: 1.2rem;
}

.t16 {
  font-size: 1.6rem;
}
.t21 {
  font-size: 2.1rem;
}
.t28 {
  font-size: 2.8rem;
}
.t37 {
  font-size: 3.7rem;
}
.t50 {
  font-size: 5.0rem;
}
.t67 {
  font-size: 6.7rem;
}

.bold {
  font-weight: 600;
}

p.en p {
  font-style: italic !important;
  color: #666;
}

.no-decoration {
  text-decoration: none;
  background-image: none !important;
}

/* Main wrapper */
.wrapper {
  min-height: 100%;
  height: auto;
}

.main {
  padding-bottom: 50px;
}

.main_menu {
  font-weight: 100;
  font-size: 0.8rem;
  text-align: center;
}

/* Grid */
.photoset.always-2 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.hero_header {
  width: 100%;
  min-height: 30.9vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top 50% left 0, top 50% right 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0 !important;
  margin: 0;
  padding: 0;
}

.hero_header a, .hero_header h1 {
  text-shadow: 0 0 0  transparent !important;
}

.hero_header .main_menu a {
  text-transform: uppercase;
}
.three {
  background-color: white;
  border-bottom: 1px solid #343434;
  border-top: 1px solid #343434;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.three .tile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 30%;
}
.three .tile h4 {
  margin-bottom: 5px;
}
.three .tile img {
  width: 100%;
}
.three .tile p {
  margin: 0;
  padding: 0;
}
/* Special for mobiles */
@media only screen and (max-width: 667px) {
  body>header, .main , .boilerform {
    width: 100%;
  }
  .three {
    flex-direction: column;
  }
  .three .tile {
    width: 100%;
    margin: 20px 0;
    padding: 0;
  }
  .three .tile p, .three .tile h3 {
    margin: 10px;
  }

  .hero_header {
    width: 100%;
    min-height: 5vh;
    justify-content: center;
    border-bottom: 0 !important;
  }

  .hero_header h1 {
    font-size: 2.8rem;
  }

  .main_header {
    justify-content: center;
    border-bottom: 0 !important;
  }

  .photoset {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .main p, .main blockquote {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main.index .masonry {
    margin: 10px;
  }
  .list.journal .note-tile>a {
    width: 100%;
    display: block;
  }

  .list.journal img {
    display: block;
    width: calc(100% - 20px);
    margin: 10px;
  }
  .home .three {
    flex-direction: column;
  }
  .home .three .tile {
    width: calc(100vw - 40px);
  }
}

/* Special for normal screens*/
@media only screen and (min-width: 1000px) {
  .main {
    width: 100%;
    margin: 0;
  }

  .main .fullwidth, .main .fullwidth img {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }

  .main > :not(.fullwidth) {
    max-width: 74rem;
    margin-left: auto;
    margin-right: auto;
  }

  .main > .vertical {
    max-width: 37rem;
  }

  .main p:not(.fullwidth), .main blockquote:not(.fullwidth) {
    max-width: 45rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .main .boilerform {
    width: 45rem !important;
    margin: 0 auto;
  }

  .photoset {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .photoset.max-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .photoset.max-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .photoset.always-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .list.journal {
    display: grid;
    grid: auto-flow dense / repeat(2, 50%);
    place-itmes: center;
  }

  .list.journal .note-tile, .list.journal .note-header {
    margin: 30px;
  }
  .list.journal .note-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .list.journal :nth-child(4n-1) {
    grid-column: 2;
  }
  .home .three {
    flex-direction: row;
  }
}

/* Notes tile */
.list.journal {
  display: grid;
  grid-gap: 1rem;
}
.list.journal .note-tile img {
  max-width: 100%;
}

.note-tile {
  font-weight: 100;
}

.note-tile .title {
 font-size: 1rem;
 padding-bottom: 2px;

}

/* MAIN HEADER */

.main_header {
  margin: 0;
  flex: auto;
  flex-direction: row;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 15px 0 ;
  max-width: 58rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

.main_header > .title {
  margin: 0;
  margin-right: 20px;
}

.main_header a {
  border: 0;
  background-image: none;
  font-weight: 200;
}

.hero_header {
  margin: 0;
  height: 4em;
  flex: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 15px 0 ;
  margin-bottom: 80px;
}

.hero_header > .title {
  margin: 0;
  margin-right: 20px;
}

.hero_header a {
  border: 0;
  background-image: none;
  font-weight: 200;
}

/* MAIN LAYOUT */

.main img {
  width: 100%;
}

.main header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.main header h1 {
  text-transform: uppercase;
}

.main header h1 {
  font-weight: 500;
  margin-bottom: 0rem;
}

.main header h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.date {
  font-style: italic;
}

.main p {
  text-align: justify;
}

.main.note h1, .main.note h2, .main.note h3, .main.note h4 {
  text-align: center;
}

/* FORM */
.c-form {
  display: block;
  border: none;
  margin: 0;
  width: 100%;
}
form {
  margin: 0;
}

.c-form__heading {
  display: block;
  width: 100%;
  line-height: 1.2;
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
}

.c-form__row {
  padding-top: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.c-button {
  margin-top: 20px;
}

input, textarea {
  border-radius: 0;
  height: 20px;
}
textarea {
  height: 60px;
}

button {
  max-width: 200px;
  padding: 1em 1em;
  color: rgba(0, 0, 0, 0.80); /* rgba supported */
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}
