.bold {
  font-weight: 600;
}

.no-decoration {
  text-decoration: none;
  background-image: none !important;
}

.italic {
  font-style: italic !important;
}

.date {
  font-style: italic;
}

.center {
  text-align: center;
}

.emoji {
  font-family: arial;
}

.t09 {
  font-size: 0.9rem;
}

.t12 {
  font-size: 1.2rem;
}

.t16 {
  font-size: 1.6rem;
}
.t21 {
  font-size: 2.1rem;
}
.t28 {
  font-size: 2.8rem;
}
.t37 {
  font-size: 3.7rem;
}
.t50 {
  font-size: 5.0rem;
}
.t67 {
  font-size: 6.7rem;
}

