.main_header {
  margin: 0;
  flex: auto;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-text;
  padding: 30px 10px ;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 667px) {
    justify-content: center;
    border-bottom: 0 !important;
  }
   > .title {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 50px;
    margin-right: 20px;
    font-size: 1.6rem;
  }

  a {
    border: 0;
    background-image: none;
    font-weight: 200;
  }
}
.note-img {
  width: 100%;
  margin: 0 auto;
  height: 38rem;
}
.note-title {
  max-width: 58rem;
  text-align: center;
  margin: 0 auto;
  h1 a {
    border: 0;
    background-image: none;
  }
}
