.main_header {
  margin: 0;
  flex: auto;
  position: fixed;
  z-index: 6;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 812px) {
    padding: 10px 0;
    flex-direction: column;
    justify-content: center;
  }
  .menu {
    flex: 1;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 812px) {
      flex-direction: column;
    }
  }
  background-color: $white-text;
  border-bottom: 1px solid #F1F1F1;
  padding: 20px 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .social {
    @media only screen and (max-width: 812px) {
      display: none;
    }
    @media only screen and (min-width: 812px) {
      margin-right: 30px;
    }
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    svg {
      margin: 0;
      margin-left: 10px;
    }
  }
   > .title {
    flex: 1;
    margin: 0;
    margin-left: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-start;
    a img { width: inherit; height: 20px}
    @media only screen and (min-width: 812px) {
      top: 12px;
    }
    @media only screen and (max-width: 812px) {
      margin-left: 0;
    }
  }

  a, a:hover, a:visited {
    border: 0;
    background-image: none;
    font-weight: 200;
  }
  @media only screen and (min-width: 812px) {
    .main_menu ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      li:not(:first-of-type)::before {
        content: "•";
        Margin: 0 10px;
      }
    }
  }
  .main_menu li {
    list-style-type: none;
    a {
      text-transform: uppercase;
    }
  }
}
.post-img {
  width: 100%;
  margin: 0 auto;
  height: 38rem;
}
.post-title {
  max-width: 58rem;
  text-align: center;
  margin: 20px auto;
  h1 a {
    border: 0;
    background-image: none;
  }
}
