name: Books

on:
  push:
    paths:
      - .github/workflows/books.yaml # Only run a new workflow every time this file changes
  workflow_dispatch: # Manual trigger
  schedule:
    - cron: "0 */6 * * *" # Run this workflow every 6 hours

jobs:
  scheduled:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - name: Fetch Goodreads data
        run: |
          deno run --allow-net --allow-read --allow-write --allow-import flat/goodreads.ts "https://www.goodreads.com/review/list_rss/3062737"
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data/books/*.yaml
          git diff --staged --quiet || git commit -m "Update books from Goodreads"
          git push
