<ul class="pagination">
  <li class="page-item{{ if not .PrevInSection }} disabled{{ end }}">
    <a {{ if .PrevInSection }}href="{{ .PrevInSection.RelPermalink }}" {{ end }} class="page-link" aria-label="Previous"><span
        aria-hidden="true">←</span></a>
  </li>
  <li class="page-item{{ if not .NextInSection }} disabled{{ end }}">
    <a {{ if .NextInSection }}href="{{ .NextInSection.RelPermalink }}" {{ end }} class="page-link" aria-label="Next"><span
        aria-hidden="true">→</span></a>
  </li>
</ul>
