  {{ $images := .Resources.ByType "image" }}
  {{ $src := $images.GetMatch "*cover*" }}
  {{ $src := $images.GetMatch "*feature*" }}
  {{ $src := cond (ne $src nil) $src ($images.GetMatch "{*cover*,*thumbnail*}") }}
  {{ $src := cond (ne $src nil) $src (index $images 0) }}

  <article class="h-entry flex flex-col">
    <a href="{{ .RelPermalink }}" class="u-url">
      {{ if $src }}
        {{ $lqipw := default "30x20" }}
        {{ $largew := default "600x400" }}

        {{/* resize the src image to the given sizes */}}

        {{ $lqip := $src.Fill $lqipw }}
        {{ $large := $src.Fill $largew }}

        <picture
          class="block relative aspect-[3/2] rounded-sm shadow-lg"
          style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover">
          <img loading="lazy" class="u-photo m-0 h-auto rounded-sm w-full lazyload" alt="cover {{ .Title}}" data-action="zoom"
            data-zoom-src="{{ $large.RelPermalink}}"
             src="{{ $large.RelPermalink }}" width="{{ $large.Width }}" height="{{ $large.Height }}">
        </picture>
      {{ else }}
        <div class="flex items-center justify-center aspect-[3/2] rounded-sm shadow-lg {{ with .Params.Color }}bg-{{ . }} {{ else }}bg-accent{{ end }}"><div class="text-6xl w-8 h-8 block m-auto opacity-60">{{.Params.emoji}}</div></div>
      {{ end }}
    <header class="mt-2 ml-2 ">
      <h2 class="text-xl font-serif text-darker  hover:underline {{ with .Params.color }}decoration-solid decoration-{{.}} hover:text-{{ . }} {{ else }} decoration-solid decoration-accent hover:text-accent{{ end }} transition ease-in-out duration-200">
        <a class="p-name u-url" href="{{ .RelPermalink }}">
          {{ .Params.emoji }} {{ .Title }}
        </a>
      </h2>
      <h3 class="p-summary line-clamp-3 text-md font-sans text-gray-700 ">
        {{ with .Params.subtitle }}
        {{ . }}
        {{ else }}
        {{ .Summary | truncate 300 }}
        {{ end }}
      </h3>
      <time class="dt-published hidden" datetime="{{ .Date.Format "2006-01-02t15:04:05z0700" }}">
        {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </time>
    </header>
    </a>
  </article>
