<footer class="container  w-full md:max-w-lg  py-10 text-gray-400 dark:text-gray-500  text-xs ">
  <div class="md:mx-0 md:ml-16 mx-4">
  <div class="flex justify-start">
    {{ .Site.Params.footer }} - {{ now.Year }}
  </div>
  <div class="pt-2">
    <ul class="flex flex-wrap flex-row justify-start ">
      {{ range .Site.Menus.footer }}
      <li class="py-2 pl-1 text-gray-600 dark:text-gray-200">
        <a class="hover:text-accent-600 transition ease-in-out duration-200 " href="{{ .URL }}" title="{{ .Title }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="">
    <ul class="flex flex-row  justify-start flex-wrap">
      {{ with .Site.Params.social.instagram }}
      <li class="pl-1  py-2 text-gray-600 dark:text-gray-200">
        <a class="hover:text-accent-600 transition ease-in-out duration-200"
          href="https://instagram.com/{{ . }}">Instagram</a>
      </li>
      {{ end }}
      {{ with .Site.Params.social.twitter }}
      <li class="py-2 pl-1  text-gray-600 dark:text-gray-200">
        <a class="hover:text-accent-600 transition ease-in-out duration-200"
          href="https://twitter.com/{{ . }}">Twitter</a>
      </li>
      {{ end }}
      {{ with .Site.Params.social.vsco }}
      <li class="pl-1 py-2  text-gray-600 dark:text-gray-200">
        <a class="hover:text-accent-600 transition ease-in-out duration-200"
          href="https://vsco.com/{{ . }}">VSCO</a>
      </li>
      {{ end }}
      <li class="pl-1 py-2  text-gray-600 dark:text-gray-200">
        <a class="hover:text-accent-600 transition ease-in-out duration-200"
           href="mailto:{{ $.Site.Params.social.email }}">{{$.Site.Params.social.email}}</a>
      </li>
    </ul>
  </div>
  </div>
</footer>
