
<footer class="container   md:max-w-lg mx-auto p-10 text-gray-400 dark:text-gray-500  font-light text-sm ">
    <div class="text-center">
      {{ with .Site.Params.social.instagram }}
      <a class="p-1" href="https://instagram.com/{{ . }}">Instagram</a> •
      {{ end }}
      {{ with .Site.Params.social.twitter }}
      <a class="p-1" href="https://twitter.com/{{ . }}">Twitter</a> •
      {{ end }}
      {{ with .Site.Params.social.vsco }}
      <a class="p-1" href="https://vsco.com/{{ . }}">VSCO</a> •
      {{ end }}
      <a class="p-1" href="mailto:{{ $.Site.Params.social.email }}">✉️ {{ $.Site.Params.social.domain }}</a>
    </div>
</footer>
