<div class="mgrid md:flex  flex-wrap justify-end">
{{ range $index, $columns := sort .}}
  {{ $width := 0 }}
  {{ range $cindex, $images := $columns }}
    {{ $subwidth := 0 }}
    {{ range $images.Images }}
      {{ $subwidth =  add $subwidth (div (float .Image.Height) .Image.Width) }}
    {{ end }}
    {{ $width = add $width (div 1.0 $subwidth) }}
  {{ end }}
  {{ range $cindex, $images := $columns }}
      {{ $div := 0 }}
      {{ range $images.Images }}
        {{ $div = add $div (div (float .Image.Height) .Image.Width) }}
      {{ end }}
      {{ $colwidth := div (div 1.0 $div) $width }}
      {{ if (eq (len $columns) 1) }}
        <div class="md:flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
            {{ if .Blank  }}
              <div style="padding-bottom: {{ div (mul 100.0 .Image.Height) .Image.Width -}}%" class="relative md:block hidden"></div>
            {{ else }}

              {{ if isset . "Link" }}
                <a href="{{ .Link }}">
                  {{ partial "photo" . }}
                </a>
              {{ else }}
                {{ partial "photo" . }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      {{ else }}
        <div class="flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
              {{ $dimension := div (div (mul 100.0 .Image.Height ) .Image.Width) $div }}
              <div style="flex: 1 0  {{ $dimension -}}%">
                {{ if .Blank  }}
                  <div style="padding-bottom: {{ div (mul 100.0 .Image.Height) .Image.Width -}}%" class="relative md:block hidden"></div>
                {{ else }}
                  {{ if isset . "Link" }}
                    <a href="{{ .Link }}">
                      {{ partial "photo" . }}
                    </a>
                  {{ else }}
                    {{ partial "photo" . }}
                  {{ end }}
                {{ end }}
              </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
