<div class="mgrid md:-mx-48 md:flex flex-wrap justify-end">
{{ range $index, $columns := .}}
  {{ $width := 0 }}
  {{ range $cindex, $images := $columns }}
    {{ $subwidth := 0 }}
    {{ range $images.Images }}
      {{ $subwidth =  add $subwidth (div (float .Image.Height) .Image.Width) }}
    {{ end }}
    {{ $width = add $width (div 1.0 $subwidth) }}
  {{ end }}
  {{ range $cindex, $images := $columns }}
      {{ $div := 0 }}
      {{ range $images.Images }}
        {{ $div = add $div (div (float .Image.Height) .Image.Width) }}
      {{ end }}
      {{ $colwidth := div (div 1.0 $div) $width }}
      {{ if (eq (len $columns) 1) }}
        <div class="md:flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
            {{ if .Blank  }}
              <div style="padding-bottom: {{ div (mul 100.0 .Image.Height) .Image.Width -}}%" class="relative md:block hidden"></div>
            {{ else }}
                {{ $lqipw := default "20x" }}
                {{ $rsmallw := default "300x" }}
                {{ $smallw := default "800x" }}
                {{ $largew := default "1500x" }}
                {{ $lqip := .Image.Resize $lqipw }}
                {{ $rsmall := .Image.Resize $rsmallw }}
                {{ $small := .Image.Resize $smallw }}
                {{ $large := .Image.Resize $largew }}
                <picture style="padding-bottom: {{(div (mul 100.0 .Image.Height ) .Image.Width) -}}%" class="relative "
                      style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover">

                    <img
                      loading="lazy"
                      alt=""
                      class="cursor-pointer object-cover lazy absolute top-0 left-0 w-full h-full"
                      data-action="zoom"
                      data-zoom-src="{{ .Image.RelPermalink}}"
                      sizes="auto"
                      srcset='
                      {{ if ge .Image.Width "300" }}
                        {{ with $rsmall.RelPermalink }}{{.}} 800w{{ end }}
                      {{ end }}
                      {{ if ge .Image.Width "800" }}
                        {{ with $small.RelPermalink }}{{.}} 800w{{ end }}
                      {{ end }}
                      {{ if ge .Image.Width "1500" }}
                        {{ with $large.RelPermalink }}, {{.}} 1500w {{ end }}
                      {{ end }}'
                      src="{{ .Image.RelPermalink }}"
                      width="{{ .Image.Width }}" height="{{ .Image.Height }}"/>
                  </picture>
            {{ end }}
          {{ end }}
        </div>
      {{ else }}
        <div class="flex flex-col min-h-full inherit" style="flex: 1 0 {{ mul 100.0 $colwidth -}}%">
          {{ range $images.Images }}
              {{ $dimension := div (div (mul 100.0 .Image.Height ) .Image.Width) $div }}
              <div style="flex: 1 0  {{ $dimension -}}%">
                {{ if .Blank  }}
                  <div style="padding-bottom: {{ div (mul 100.0 .Image.Height) .Image.Width -}}%" class="relative md:block hidden"></div>
                {{ else }}
                  {{ $lqipw := default "20x" }}
                  {{ $smallw := default "800x" }}
                  {{ $largew := default "1500x" }}
                  {{ $lqip := .Image.Resize $lqipw }}
                  {{ $small := .Image.Resize $smallw }}
                  {{ $large := .Image.Resize $largew }}
                  <picture class="box-border block relative "
                          style="padding-bottom: {{(div (mul 100.0 .Image.Height ) .Image.Width) -}}%; ; background-size: cover">

                    <img
                      style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover"
                      loading="lazy"
                      alt=""
                      class="cursor-pointer object-cover lazy absolute top-0 left-0 w-full h-full"
                      data-action="zoom"
                      data-zoom-src="{{ .Image.RelPermalink}}"
                      src="{{ .Image.RelPermalink }}"
                      sizes="auto"
                      srcset='
                      {{ if ge .Image.Width "800" }}
                        {{ with $small.RelPermalink }}{{.}} 800w{{ end }}
                      {{ end }}
                      {{ if ge .Image.Width "1500" }}
                        {{ with $large.RelPermalink }}, {{.}} 1500w {{ end }}
                      {{ end }}'
                      width="{{ .Image.Width }}" height="{{ .Image.Height }}"/>
                  </picture>
                {{ end }}
              </div>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
