<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $style := resources.Get "css/application.scss" | resources.ExecuteAsTemplate "main.css" . | toCSS | resources.PostCSS }}
  {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ else }}
    {{ $style := $style | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ end }}
  <link rel="icon" href="{{ "/favicon.ico" | absURL }}">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}">
  {{ with .OutputFormats.Get "jsonfeed" }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink | safeURL }}" title="{{ $.Site.Title }}">
  {{ end -}}
  {{ partial "opengraph.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "seo" . }}
</head>
