{{ $allimages := slice }}
{{ if .Params.shuffle }}
  {{ range shuffle (.Resources.ByType "image") }}
    {{ if (and (ne .Name "cover") (ne .Name "card")) }}
      {{ $allimages = $allimages | append (dict "Image" .) }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ range sort (.Resources.ByType "image") "Name" "desc" }}
    {{ if (and (ne .Name "cover") (ne .Name "card")) }}
      {{ $allimages = $allimages | append (dict "Image" .) }}
    {{ end }}
  {{ end }}
{{ end }}

<div data-pswp>
  <div class="h-96 justify-center flex flex-row relative">
    <div class="snap-x snap-proximity overflow-x-auto list-none overflow-y-hidden flex flex-row gap-4">
      {{ range $index, $img := $allimages }}
        {{/* get file that matches the filename as specified as src="" in shortcode */}}
        {{ $src := $img.Image }}

        {{ if $src }}
          {{ $s := newScratch }}
          {{ partial "responsive-img-data" (dict "src" $src "scratch" $s) }}

          <picture class="snap-center snap-normal {{ .ExtraClasses }} aspect-[{{.Image.Width}}/{{.Image.Height}}] block relative h-full">
            {{ if $s.Get "has_avif" }}
              <source type="image/avif" srcset="{{ $s.Get "srcset_avif" }}" sizes="50vw">
            {{ end }}
            <img
              loading="lazy"
              style="background: url(data:image/webp;base64,{{ ($s.Get "lqip").Content | base64Encode }}); background-size: cover"
              alt="{{ .Description }}"
              class="rmelative hover:shadow-{{ $.Scratch.Get "color" }}/20 shadow-md hover:shadow-xl cursor-pointer lazy"
              data-action="zoom"
              {{ if not ($s.Get "is_gif") }}
                srcset="{{ $s.Get "srcset_webp" }}"
                sizes="50vw"
              {{ end }}
              data-zoom-src="{{ ($s.Get "zoom").RelPermalink }}"
              src="{{ ($s.Get "lqip").RelPermalink }}"
              msrc="{{ ($s.Get "lqip").RelPermalink }}"
              data-src="{{ ($s.Get "default").RelPermalink }}"
              width="{{ ($s.Get "default").Width }}"
              height="{{ ($s.Get "default").Height }}"
            />
          </picture>
        {{ end }}
      {{ end }}
    </div>
    <div class="absolute top-0 left-0 w-24 md:bg-gradient-to-l from-transparent to-{{ $.Scratch.Get "color" }}/20 dark:to-crust h-full"></div>
    <div class="absolute top-0 right-0 w-24 md:bg-gradient-to-r from-transparent to-{{ $.Scratch.Get "color" }}/20 dark:to-crust h-full"></div>
  </div>
</div>
