<header class="mb-6 relative ">
  <h2 class="text-3xl font-semibold  hover:underline {{ with .Params.Color }}text-{{ . }}-600 dark:text-{{.}}-200 {{ else }}dark:text-accent-200 text-accent-600{{ end }} transition ease-in-out duration-200">
    <a alt="section link" href="{{ .Parent.RelPermalink | default ("/" | relLangURL )}}">
    {{ .Title }}
    </a>
  </h2>
  <h3 class="italic text-gray-600 dark:text-gray-300">
    {{ with .Params.subtitle }}
    {{ . }}
    {{ end }}
  </h3>
</header>
<div data-pswp class="mb-10  content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
  {{.Content}}
</div>
{{ partial "article_camera" . }}
<span class="text-xs mb-32  text-right  dark:text-gray-300 text-gray-700 capitalize block">
  {{ with .Params.emoji }}
    {{ . }}
  {{ else }}
    {{ partial "emoji" . }}
  {{ end }}
  {{ partial "category-link" . }}
  {{ .Site.Params.arrow }}
  <a href="{{ .RelPermalink }}">
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </a>
</span>
