<script src="https://cdn.usefathom.com/script.js" data-site="{{ .Site.Params.fathom.siteID }}" data-included-domains="{{ .Site.Params.fathom.ddomain }}" data-honor-dnt="true" defer></script>
{{ $.Scratch.Set "jslibs" slice }}
{{ $libs := slice "js/photoswipe.js" "js/photoswipe-ui-default.js" "js/photoswipe-simplify.js" "js/lazyload.min.js" "js/main.js" }}
{{ range $libs }} {{ $.Scratch.Add "jslibs" (resources.Get . ) }} {{ end }} {{ $js := .Scratch.Get "jslibs" | resources.Concat "js/main.js" }} {{ if .Site.IsServer }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ else }} {{ $js := $js | minify | fingerprint "sha512"}}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}
