<script src="https://cdn.usefathom.com/script.js" data-site="{{ .Site.Params.fathom.siteID }}" data-included-domains="{{ .Site.Params.fathom.domain }}" data-honor-dnt="true" defer></script>
                <script type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="{{ .Site.Params.pirsch.code }}" defer></script>
{{ if eq .Type "shop" }}
  <script src="https://js.stripe.com/v3"></script>
{{ end }}
{{ $.Scratch.Set "jslibs" slice }}
{{ $libs := slice "js/photoswipe.js" "js/photoswipe-ui-default.js" "js/photoswipe-simplify.js" "js/lazyload.min.js" "js/main.js" }}
{{ range $libs }} {{ $.Scratch.Add "jslibs" (resources.Get . ) }} {{ end }} {{ $js := .Scratch.Get "jslibs" | resources.Concat "js/main.js" }} {{ if .Site.IsServer }}
  <script src="{{ $js.RelPermalink }}"></script>
{{ else }} {{ $js := $js | minify | fingerprint "sha512"}}
  <script src="{{ $js.RelPermalink }}"></script>
{{ end }}

