  {{ $current := . }}
  <nav class="font-sans font-black text-sm tracking-wide uppercase tracking-tighter text-sm w-full">
    <ul class="inline flex flex-wrap flex-row mb-4 items-center justify-around md:justify-between dark:text-gray-400 text-gray-500">
      {{ range .Site.Menus.main }}
        {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
        {{ $active = or $active (eq .Page $current) }}
        {{ $active = or $active (eq .Page.Section $current.Type) }}
        <li class="inline border-b-4 {{if $active}} border-gray-800 text-gray-800 dark:text-gray-200 {{ else }} border-transparent{{end}} {{ with $current.Params.Color }}hover:text-{{ . }}-600 hover:border-{{ . }}-600{{ else }}hover:text-accent-600{{ end }} transition ease-in-out duration-200">
        <a class="{{ .Params.class }}  whitespace-nowrap" href="{{ .URL }}" title="{{ .Title }}">
          {{ if .Params.useEmoji }}
             {{ $current.Params.emoji | default $current.Site.Params.emoji}}
          {{ else }}
            {{ .Pre }} {{ .Name }}
          {{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
