{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 -}}
<ul class="pagination">
  <li class="page-item{{ if not $pag.HasPrev }} disabled{{ end }}">
    <a {{ if $pag.HasPrev }}href="{{ $pag.Prev.URL }}" {{ end }} class="page-link" aria-label="Previous"><span
        aria-hidden="true">←</span></a>
  </li>
  <li class="page-item{{ if not $pag.HasNext }} disabled{{ end }}">
    <a {{ if $pag.HasNext }}href="{{ $pag.Next.URL }}" {{ end }} class="page-link" aria-label="Next"><span
        aria-hidden="true">→</span></a>
  </li>
</ul>
{{ end }}
