{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $src := .Image }}

{{ if $src }}
  {{ $xs := "20x" }}
  {{ $md := "800x" }}
  {{ if .Ratio }}
    {{ $width := index (split .Ratio "/") 0 }}
    {{ $height :=index (split .Ratio "/") 1 }}
    {{ $xs := printf "%s0x%s0" $width $height }}
    {{ $md := printf "%s00x%s00" (mul $width 2) (mul $height 2) }}
  {{ end }}
  {{ $lqip := $src.Resize (printf "%s webp" $xs) }}
  {{ $small := $src.Resize (printf "%s webp" $md) }}
  <picture style="{{ .ExtraClasses }} padding-bottom: {{(div (mul 100.0 $src.Height ) $src.Width) -}}%" class="relative box-border block">
    <img
      loading="lazy"
      style="background: url(data:image/webp;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover"
      alt="{{ .Description }}"
      class="cursor-pointer object-cover lazy absolute top-0 left-0 w-full h-full"
      data-action="zoom"
      data-zoom-src="{{ $src.RelPermalink}}"
      src="{{ $small.RelPermalink }}"
      width="{{ $src.Width }}" height="{{ $src.Height }}"/>
    </picture>

{{ end }}
