{{/* get file that matches the filename as specified as src="" in shortcode */}}
{{ $src := . }}

{{ if $src }}
  {{ $lqipw := default "20x" }}
  {{ $rsmallw := default "300x" }}
  {{ $smallw := default "800x" }}
  {{ $largew := default "1500x" }}
  {{ $lqip := $src.Resize $lqipw }}
  {{ $rsmall := $src.Resize $rsmallw }}
  {{ $small := $src.Resize $smallw }}
  {{ $large := $src.Resize $largew }}
  <picture style="padding-bottom: {{(div (mul 100.0 $src.Height ) $src.Width) -}}%" class="relative box-border block">

    <img
      loading="lazy"
      style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover"
      alt=""
      class="cursor-pointer object-cover lazy absolute top-0 left-0 w-full h-full"
      data-action="zoom"
      data-zoom-src="{{ $src.RelPermalink}}"
      sizes="auto"
      srcset='
      {{ if ge $src.Width "300" }}
        {{ with $rsmall.RelPermalink }}{{.}} 800w{{ end }}
      {{ end }}
      {{ if ge $src.Width "800" }}
        {{ with $small.RelPermalink }}{{.}} 800w{{ end }}
      {{ end }}
      {{ if ge $src.Width "1500" }}
        {{ with $large.RelPermalink }}, {{.}} 1500w {{ end }}
      {{ end }}'
      src="{{ $src.RelPermalink }}"
      width="{{ $src.Width }}" height="{{ $src.Height }}"/>
    </picture>

{{ end }}
