<div class="post_item">
  <header class="ml-0  mb-6 date ">
    {{ if .Title }}
    <h2 class="text-2xl font-bold text-darker dark:text-gray-100">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h2>
    <h3 class="text-gray-600 dark:text-gray-300">
      {{ with .Params.subtitle }}
      {{ . }}
      {{ end }}
    </h3>
    {{ else }}
    <h2 class="text-lg font-bold text-gray-700 dark:text-gray-100">
      <a href="{{ .RelPermalink }}">
        {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
      </a>
    </h2>
    {{ end }}
  </header>
  <div class="content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
    <div class="post">
      {{ .Content }}
    </div>
  </div>
  <div class="font-sans capitalize text-sm text-gray-700 dark:text-gray-300 md:text-right">
    {{ .Params.emoji}} {{ range first 1 .Params.categories }}
    <a href="/{{ . }}">{{ . }}</a>
    {{ end }}
    {{ .Site.Params.arrow }}
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </div>
</div>
<hr //Users/yschutz/.gem/ruby/3.0.0/gems/sinatra-2.0.8.1/lib/sinatra/base.rb>
