<div class="mb-10">
  <header>
    <h2 class="text-xl font-bold text-darker dark:text-gray-100">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h2>
    {{ with .Params.subtitle }}
    <h3 class="text-sm text-gray-700 dark:text-gray-300">{{ . }}</h3>
    {{ end }}
  </header>
  {{ $image := .Resources.GetMatch "cover" }}
  {{if $image }}
  {{ $web := $image.Fill "1200x800" }}
  {{ $mini := $image.Fill "60x40 Box" }}
  <div class="my-6">
    <a href="{{ .RelPermalink }}" aria-label="{{ .Title }}">
      <picture class="md:-mx-10 block shadow-lg">
        <source class="lazyload" srcset="{{ $mini.RelPermalink }}" type="web/jpg" media="(min-width: 821px)"
          data-srcset="{{ $web.RelPermalink }}">
        <img alt="{{ .Title }} cover" src="{{ $mini.RelPermalink }}" data-src="{{ $web.RelPermalink }}"
          class="w-full lazyload">
      </picture>
    </a>
  </div>
  {{end}}
  <div class="post">
    <p>
      {{ .Summary | truncate 200 | safeHTML }}
    </p>
    <div class="mb-4">
      <a class="text-sm font-serif {{ with .Params.color }}text-{{ . }}-700 dark:text-{{.}}-300{{ else }}text-accent-700 dark:text-accent-300{{end}} no-underline font-bold"
        href="{{ .RelPermalink }}">➤ Lire tout</a>
    </div>
  </div>
  <div class="font-sans capitalize text-sm text-gray-700 dark:text-gray-300 md:text-right">
    {{ .Params.emoji }}
    {{ .Params.place }}
    {{ .Site.Params.arrow }}
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </div>
</div>
<hr />
