{{ $title := printf "%d %s %d - %s" .Date.Day (index .Site.Data.mois (printf "%d" .Date.Month)) .Date.Year $.Site.Title }}
{{ $tags := slice }}
{{ if isset .Params "tags" }}
{{ if reflect.IsSlice .Params.tags }}
{{ $tags = delimit .Params.tags ", " }}
{{ else }}
{{ $tags = .Params.tags }}
{{ end }}
{{ end }}
{{ if .Params.seotitle }}
  {{ $title = .Params.seotitle }}
{{ else if .Title }}
  {{ $title = printf "%s - %s" .Title $.Site.Title }}
{{ end }}
{{ $colorHex := index  .Site.Data.palette (.Site.Params.themePalette) ($.Scratch.Get "color") "hex"  }}

<title>{{ $title }}</title>
<meta name="theme-color" media="(prefers-color-scheme: light)" content="{{$colorHex}}" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#232634" />
{{ if in .Site.Params.doNotIndex .Type }}
    <meta name="robots" content="noindex">
{{ end }}
<link rel="apple-touch-icon" sizes="180x180" href="/{{ $.Scratch.Get "color"}}/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/{{ $.Scratch.Get "color"}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/{{ $.Scratch.Get "color"}}/favicon-16x16.png">
<link rel="manifest" href="/{{ $.Scratch.Get "color"}}/site.webmanifest">
<link rel="mask-icon" href="/{{ $.Scratch.Get "color"}}/safari-pinned-tab.svg" color="{{ $colorHex}}">
<meta name="apple-mobile-web-app-title" content="Bonjour Yannick">
<meta name="application-name" content="Bonjour Yannick">
<meta name="msapplication-TileColor" content="{{$colorHex}}">
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ $tags }}">
<link rel="canonical" href="{{ .Permalink }}" />
<meta name="p:domain_verify" content="{{ .Site.Params.pinterestVerify }}" />
<script type="application/ld+json">
{{ if and (eq .Type "shop") .IsPage}}
{
"@context": "https://schema.org/",
"@type": "Product",
      "name" : {{ $title | safeHTML }},
      "headline" : {{ $title | safeHTML}},
      "description" : {{ with (.Description | default (replaceRE "\n" " " (.Summary | truncate 170))) }}{{ . | safeHTML }}{{ else}}""{{ end }},
      "inLanguage" : "{{.Lang}}",
      "availableLanguage": {
        "@type": "Language",
        "name": ["French","English"]
      },
      {{- $images := $.Resources.ByType "image" -}}{{- $featured := $images.GetMatch "*feature*" -}}{{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}{{- with $featured -}}"image" : {{ $featured.Permalink }},{{ else -}}{{- with $.Site.Params.images -}}"image" : {{ index . 0 | absURL }},{{ end }}{{ end }}
"offers": {
"@type": "Offer",
"priceCurrency": {{ .Params.currency }},
"price": "{{.Params.price }}",
"priceValidUntil": "2029-11-05",
"availability": "http://schema.org/InStock"
}
}
{{ else }}
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": {{ .Site.BaseURL }}
      },
      "articleSection" : {{ .Section }},
      "name" : {{ $title | safeHTML }},
      "headline" : {{ $title | safeHTML}},
      "description" : {{ with (.Description | default (replaceRE "\n" " " (.Summary | truncate 170))) }}{{ . | safeHTML }}{{ else}}""{{ end }},
      "inLanguage" : "{{.Lang}}",
      "availableLanguage": {
        "@type": "Language",
        "name": ["French","English"]
      },
      {{- $images := $.Resources.ByType "image" -}}{{- $featured := $images.GetMatch "*feature*" -}}{{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}{{- with $featured -}}"image" : {{ $featured.Permalink }},{{ else -}}{{- with $.Site.Params.images -}}"image" : {{ index . 0 | absURL }},{{ end }}{{ end }}
      "author" : {{ range .Site.Params.Author }}{{ . }}{{ end }},
      "creator" : {{ range .Site.Params.Author }}{{ . }}{{ end }},
      "publisher": {{ range .Site.Params.Author }}{{ . }}{{ end }},
      "accountablePerson" : {{ range .Site.Params.Author }}{{ . }}{{ end }},
      "copyrightHolder" : {{ range .Site.Params.Author }}{{ . }}{{ end }},
      "copyrightYear" : {{ .Date.Format "2006" }},
      "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }},
      "dateModified" : {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | safeHTML }},
      "url" : {{ .Permalink }},
      "wordCount" : {{ .WordCount }},
      "keywords" : [{{ $tags }}]
  }
{{ end }}
</script>
