{{ with .Resources.ByType "image" }}
<div class="my-16 flex flex-row relative flex-wrap -mx-32">
  {{ range . }}
  {{ $lqipw := default "20x" }}
  {{ $smallw := default "800x" }}
  {{ $largew := default "1500x" }}

  {{/* resize the src image to the given sizes */}}

  {{ $lqip := .Resize $lqipw }}
  {{ $small := .Resize $smallw }}
  {{ $large := .Resize $largew }}

  <picture class="my-6 relative  {{ if gt .Height .Width }} mx-auto w-2/3{{ else }}{{ end }} " style="background: url(data:image/jpeg;base64,{{ $lqip.Content | base64Encode  }}); background-size: cover; ">
    <img
      loading="lazy"
      class="lazyload h-auto w-full "
      data-action="zoom"
      data-zoom-src="{{ .RelPermalink}}"
      sizes="auto"
      srcset='{{ .RelPermalink }} 1000w'
      src="{{ .RelPermalink }}"
      width="{{ .Width }}" height="{{ .Height }}">
  </picture>
  {{ end }}
</div>
{{ end }}
