<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ $style := resources.Get "css/application.scss" | resources.ExecuteAsTemplate "main.css" . | toCSS | resources.PostCSS }}
{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ else }} {{ $style := $style | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{ end }} 
<link rel="icon" href="{{ "/favicon.ico" | absURL }}"> 
<link rel="shortcut icon" href="{{ "/favicon.ico" | absURL }}"> 
<link rel="micropub" href="{{ "/api/micropub" | absURL }}">
