{{ partial "article_header" . }}
<div data-pswp class="{{ if eq .Type "shop" }}flex flex-col md:flex-row md:-mx-32 {{ end }}mb-10 font-ffserif content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
  {{ with .Params.grid }}
    <div  class="grid w-4/6">
      {{ $rowsslice := split . "/" }}
      {{ $rows := dict }}
      {{ range $rowIndex, $row := $rowsslice}}
        {{ $columnsslice := split $row "|" }}
        {{ $columns := dict }}
        {{ range $columnIndex, $column := $columnsslice }}
          {{ $imagesslice := split $column " - " }}
          {{ $images := slice }}
          {{ range $imagesslice }}
              {{ $name := trim . " " }}
              {{ if in $name ":" }}
                {{ $ratio := split $name ":" }}
                {{ $blank := dict "Blank" true "Image" (dict "Height" (int (index $ratio 1)) "Width" (int (index $ratio 0))) }}
                {{ $images = $images | append $blank }}
              {{ else }}
                {{ $src := $.Page.Resources.GetMatch (printf "*%s*" $name) }}
                {{ if $src }}
                  {{ $images = $images | append (dict "Image" $src) }}
                {{ end }}
              {{ end }}
          {{ end }}
          {{ $columns = merge $columns (dict (string $columnIndex) (dict "Images" $images)) }}
        {{ end }}
        {{ $rows = merge $rows (dict (string $rowIndex) $columns) }}
      {{ end }}
      {{ partial "grid" $rows }}
    </div>
  {{ end }}
  <div  class="post {{if eq .Type "shop" }}w-2/6 pl-2 {{end}}">
    {{.Content}}
  </div>
  {{ if eq .Type "newsletter" }}
    <h2 class="text-xl font-semibold text-darker dark:text-gray-100">Lisez la dernière</h2>
    {{ range first 1 (where .Site.RegularPages ".Params.newsletter" true)  }}
      {{ partial "title" . }}
    {{ end }}
  {{ end }}
  {{ if (in .Site.Params.showFooter .Type) }}
  <hr class="line"/>
    {{ partial "article_footer" . }}
    <div class="pt-8">
      <hr class="" />
      {{ partial "recent_posts" . }}
    </div>
  {{ end }}
</div>
