{{ partial "article_header" . }}
<div data-pswp class="mb-10 content-{{ with .Params.color }}{{ . }}{{ else }}accent{{ end }}">
  <div class="post ">
    {{.Content}}
  </div>
  {{ if (in .Site.Params.showFooter .Type) }}
  <hr class="line" />
  {{ partial "article_footer" . }}
  <div class="flex justify-between text-sm">
    <div class="next w-1/4">
      {{ with .NextInSection}}
      {{ partial "title" .}}
      {{ end}}
    </div>
    <div class="previous w-1/4">
      {{ with .PrevInSection}}
      {{ partial "title" .}}
      {{ end}}

    </div>
  </div>
  {{ end }}
</div>
