{{ $username := .Site.Params.tinyletter.username }}
{{ $title := .Site.Params.tinyletter.title }}
{{ $message := .Site.Params.tinyletter.message }}
{{ $color := "accent" }}
{{ if .Params.letter }}
  {{ $username = .Params.letter }}
  {{ $title = .Params.lettertitle }}
  {{ $message = .Params.lettermessage }}
  {{ $color = .Params.color }}
{{ end }}
{{ if (and $username (not .Params.hideSubscribe)) }}
<div class="bg-{{ $color }}-200 dark:bg-{{ $color }}-800  w-full md:pl-16 px-2 py-12 text-gray-700 dark:text-gray-200 text-base">
  <div class="container  md:max-w-lg">
    <form class="flex flex-col items-start"
      action="https://buttondown.email/api/emails/embed-subscribe/{{ $username }}" method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/{{ $username }}', 'popupwindow')"
      class="embeddable-buttondown-form">
      <h2 class="text-lg   font-semibold mb-4 ">{{ $title }}</h2>
      <label for="bd-email">
        {{$message}}
      </label>
      <div
        class="mt-4 border-2 w-full flex flex-row justify-between overflow-hidden rounded-sm  bg-white border-{{$color}}-500 hover:border-{{$color}}-600 tranistion duration-500 ease-in-out">
        <input
          class="border-none focus:border-none m-0 ml-4 w-full rounded-none appearance-none  py-2 text-gray-700 leading-tight focus:outline-none focus:shadow-none"
          type="email" name="email" id="bd-email" />
        <input type="hidden" value="1" name="embed" />
        <input
          class="bg-{{$color}}-500 rounded-none hover:bg-{{$color}}-600 transition duration-500 ease-in-out text-white font-bold py-2 m-0 -ml-4 md:ml-0 appearance-none px-4 focus:outline-none focus:shadow-outline cursor-pointer"
          type="submit" value="{{ T "subscribe" }}" />
      </div>
    </form>
  </div>
</div>
{{ end}}
