<div class="py-4">
  <div class="font-sans tracking-tight text-xs {{ with .Params.Color }}text-{{ . }}-600 {{ else }}text-gray-700{{end}}  uppercase">
    {{ .Params.emoji }}
    {{ partial "category-link" . }}
    {{ .Site.Params.arrow }}
    {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
  </div>
  <header class="">
    <h2 class="text-xl font-bold text-darker  {{ with .Params.Color }}hover:text-{{ . }}-600 {{ else }}hover:text-accent-600{{ end }} transition ease-in-out duration-200">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h2>
    <h3 class="line-clamp-3 text-normal text-gray-700 ">
      {{ with .Params.subtitle }}
      {{ . }}
      {{ else }}
      {{ .Summary | truncate 300 }}
      {{ end }}
    </h3>
  </header>
</div>
