<article class="py-4 group">
    <div class="font-sans tracking-tight text-xs {{ with .Params.Color }}text-{{ . }}-600 {{ else }}text-gray-700{{end}} {{ with .Params.Color }}group-hover:text-{{ . }}-600 {{ else }}group-hover:text-accent-600{{ end }} transition ease-in-out duration-200 uppercase">
      {{ with .Params.emoji }}
        {{ . }}
      {{ else }}
        {{ partial "emoji" . }}
      {{ end }}
      {{ partial "category-link" . }}
      {{ .Site.Params.arrow }}
      {{ .Date.Day }} {{ index .Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
    </div>
    <header >
      <h2 class="text-xl font-sans font-black text-darker {{ with .Params.Color }}group-hover:text-{{ . }}-600 {{ else }}group-hover:text-accent-600{{ end }} transition ease-in-out duration-200">
  <a href="{{ with .Params.bookmarkOf }}{{ . }}{{ else }}{{ .RelPermalink }}{{end}}">
          {{ .Title  |markdownify}}
  </a>
      </h2>
      <h3 class="line-clamp-1 text-sm text-gray-500 group-hover:text-gray-700 transition ease-in-out duration-400 ">
        {{ with .Params.subtitle }}
        {{ . }}
        {{ else }}
          {{ with .Params.description }}
            {{ . | truncate 100 }}
          {{ else}}
            {{ .Summary | truncate 100 }}
          {{ end }}
        {{ end }}
      </h3>
      <h4 class="text-xs font-sans {{ with .Params.Color }}group-hover:text-{{ . }}-600 {{ else }}group-hover:text-accent-600{{ end }} transition ease-in-out duration-200">
      {{ with .Params.bookmarkOf }}
        <a href="{{ . }}">
          {{ (urls.Parse .).Host }}
        </a>
      {{ end }}
      </h4>
    </header>
</article>
