{{- $images := $.Resources.ByType "image" -}}
{{- $card := $images.GetMatch "card*" -}}
<meta name="twitter:card" content="summary_large_image"/>
{{ with $card }}
<meta property="twitter:image" content="{{ .Permalink }}"/>
{{ else }}
<meta property="twitter:image" content="{{ $.Site.Params.ogURL }}/api/og?{{ (querify "title" .Title "subtitle" (.Params.subtitle | default "") "description" (.Description | default "") "color" ($.Scratch.Get "color") )}} "/>
{{ end }}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end -}}"/>
{{ with .Site.Params.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}
